//Colors
$color-header-bg-day: #D9A507;
$color-header-bg-night: #084c57;
$color-white: #fff;
$color-black: #000;
$color-yellow: #FDDC4C;
$color-night-blue: #0c4a87;
$color-cs-alternate-bg: #F5F4EF;
$color-cs-alternate-bg-night: #1f232d;

$color-night-text: rgba(255,255,255,.7);

$color-cs1-1: #837A7D;
$color-cs1-2: #BEB7B3;

$color-cs2-1: #56647B;
$color-cs2-2: #9CB3D4;

:root {
  --color-primary-bg: #{$color-white};
  --color-primary-text: #{$color-black};
  --color-white: #{$color-white};
  --color-link-underline: #{$color-yellow};
  --color-grid-square: rgba(0,0,0,.05);
  --color-header-bg: #{$color-header-bg-day};
  --color-cs-alternate-bg: #{$color-cs-alternate-bg};
}

[data-theme="dark"] {
  --color-primary-bg: #{$color-black};
  --color-primary-text: #{$color-night-text};
  --color-white: #{$color-black};
  --color-link-underline: #{$color-night-blue};
  --color-grid-square: rgba(0,0,0,.3);
  --color-header-bg: #{$color-header-bg-night};
  --color-cs-alternate-bg: #{$color-cs-alternate-bg-night};
}

$box-shadow-cs-img: 0 30px 60px 0 rgba(0,0,0,0.20);

//Theme transition
$theme-transition: color 1s, background-color 1s;

//Font sizes
$font-size-default: 2rem;
