<div class="case-study-preview grid case-study-preview__gradient--1"  data-aos="fade-up">
    <div class="case-study-preview__image">
      <img src="../images/home/case-study_foundation-funds-02.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
    </div>
    <div class="case-study-preview__content">
      <h4 class="case-study-preview__count">Case study 1 of 3</h4>
      <h3 class="case-study-preview__title">Foundation Funds</h3>
      <p class="case-study-preview__description">Helping people make smart decisions with their giving.</p>
      <div class="case-study-preview__role">Focus: <span class="definition-badge">New product offering</span></div>
      <a href="foundation-funds" class="btn btn--black">View project</a>
    </div>
</div>

<div class="case-study-preview grid case-study-preview__gradient--2"  data-aos="fade-up">
  <div class="case-study-preview__content">
    <h4 class="case-study-preview__count">Case study 2 of 3</h4>
    <h3 class="case-study-preview__title">Awareness and Engagement</h3>
    <p class="case-study-preview__description">Spreading awareness and increasing engagement of Bright Funds within the workplace.</p>
    <div class="case-study-preview__role">Focus: <span class="definition-badge">Engagement</span></div>
    <a href="increasing-awareness-and-engagement" class="btn btn--black">View project</a>
  </div>
  <div class="case-study-preview__image">
    <img src="../images/home/case-study_awareness-engagement-02.jpg" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Foundation Fund Product Design Case Study">
  </div>
</div>

<div class="case-study-preview grid case-study-preview__gradient--2"  data-aos="fade-up">
  <div class="case-study-preview__image">
    <img src="../images/home/case-study_styleguide.jpg" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Foundation Fund Product Design Case Study">
  </div>
  <div class="case-study-preview__content">
    <h4 class="case-study-preview__count">Case study 3 of 3</h4>
    <h3 class="case-study-preview__title">Styleguide</h3>
    <p class="case-study-preview__description">Developing a living styleguide for a consistent UI</p>
    <div class="case-study-preview__role">Focus: <span class="definition-badge">Styling</span></div>
    <a href="styleguide" class="btn btn--black">View project</a>
  </div>
</div>
