<div class="case-study-preview grid case-study-preview__gradient--2"  data-aos="fade-up">
  <div class="case-study-preview__content">
    <h4 class="case-study-preview__count">Case study 2 of 3</h4>
    <h3 class="case-study-preview__title">Awareness and Engagement</h3>
    <p class="case-study-preview__description">Spreading awareness and increasing engagement of Bright Funds within the workplace.</p>
    <div class="case-study-preview__role">Focus: <span class="definition-badge">Engagement</span></div>
    <a href="increasing-awareness-and-engagement" class="btn btn--black">View project</a>
  </div>
  <div class="case-study-preview__image">
    <img src="../images/home/case-study_awareness-engagement-02.jpg" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Foundation Fund Product Design Case Study">
  </div>
</div>
