  <footer class="footer">
    <h3 class="footer__title">Let’s get to know each other</h2>
    <div class="footer__links">
      <a href="mailto:clchappelle@gmail.com?Subject=Hey%20Chris" class="footer__contact-link">clchappelle@gmail.com</a>
      <a href="https://www.linkedin.com/in/clchappelle/" class="footer__contact-link" target="_blank"><img src="../images/linkedin.svg" class="footer__contact-link--linkedin" alt="Linkedin"></a>
    </div>
    <div class="footer__copyright">
      <p>© 2019 Chris Chappelle</p>
      <p>All rights reserved</p>
    </div>
  </footer>
  <script src="/javascripts/anime.min.js"></script>
  <script src="/javascripts/scripts.bundle.js"></script>
  </body>
</html>
