<%- include("../partials/header.ejs"); %>
<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--2 grid">
    <div class="case-study__header-content grid--centered" data-aos="fade-up">
      <h2 class="case-study__company">Styleguide</h2>
      <h1 class="case-study__title">Replace me</h1>
      <div class="case-study__role">Lead Designer</div>
      <img src="../images/cs-engagement/header-image-01.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Engagement Design Case Study">
    </div>
</div>


<div class="case-study__body">
  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Replace me</h5>
      <h3 class="section-title">Icons</h3>
      <p class="p--large">Replace me</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/icons.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Replace me</h5>
      <h3 class="section-title">Elements</h3>
      <p class="p--large">Replace me</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/icons.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Replace me</h5>
      <h3 class="section-title">Layouts</h3>
      <p class="p--large">Replace me</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/icons.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Replace me</h5>
      <h3 class="section-title">Patterns</h3>
      <p class="p--large">Replace me</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/icons.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>


</div>

<%- include("../partials/footer.ejs"); %>
