<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--2 grid">
    <div class="case-study__header-content grid--centered" data-aos="fade-up">
      <h2 class="case-study__company">Awareness and Engagement</h2>
      <h1 class="case-study__title">How can we help people discover and use their workplace giving programs?</h1>
      <div class="case-study__role">Lead Designer / Team of 2</div>
      <img src="../images/cs-engagement/header-image-01.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Engagement Design Case Study">
    </div>
</div>

<div class="case-study__body">

  <div class="grid">
    <div class="grid case-study__details" data-aos="fade-up">
      <div class="case-study__details-section">
        <h4>Company</h4>
        <p class="p--small case-study__details-description">Bright Funds is a for-profit, for-good enterprise product that companies use to run their giving and volunteering benefits. </p>
      </div>

      <div class="case-study__details-section">
        <h4>Role</h4>
        <p class="p--small case-study__details-description">An engineer and I took up the challenge to understand why benefits like this were being under-used. My role included creating a process to collect and rank engagement ideas, interaction design, and UI design.</p>
      </div>

      <div class="case-study__details-section">
        <h4>Process</h4>
        <ol class="p--small case-study__details-description">
          <li>Research</li>
          <li>Collecting ideas</li>
          <li>User Flows</li>
          <li>Sketches</li>
          <li>UI Design</li>
          <li>Testing</li>
        </ol>
      </div>
    </div>
  </div>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>The problem</h5>
      <h3 class="section-title">Cutting through the noise</h3>
      <p class="p--large">Our team was seeing from our data and hearing from clients that people love the employee volunteering, giving, and matching benefits we offer but they were being under used. People are busy at work (that’s a good thing!). As a result, soft benefits like having your donations matched were slipping through the cracks.</p>

      <h3>The challenge</h3>
      <p>Develop a process to discover and quickly test projects that boost awareness of Bright Funds within companies and increase engagement once an employee begins using the product.</p>

    </div>
  </section>

  <section class="grid case-study__introducing" data-aos="fade-up">
    <div class="case-study__introducing-text">
      <h3>Four strategies aimed at increasing engagement and retention</h3>
      <p class="case-study__introducing-description">In this case study, I’ll walk through four projects that were designed to boost awarness of Bright Funds within the workplace and increase user engagement and retention.</p>
    </div>
    <div class="case-study__introducing-image">
      <img src="../images/cs-engagement/product-shot-project-intro.jpg" alt="" class="">
    </div>
  </section>

  <section class="grid case-study__problem-section" data-aos="fade-up">

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shaping the idea</h5>
      <h3>Researching the problem</h3>
      <p>To get started, I held conversations with employees, looked at usage data, and read through customer support conversations to understand what was holding people back from using their giving and volunteer benefits - especially because most people are already doing this outside of work.</p>
      <p>Based on this research, our team aligned on these three core insights:</p>
    </div>

    <div class="grid case-study__problems">
      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 1</p>
        <p>Awareness within companies can be low. Benefits explained as part of an employee’s onboarding are often lost in the noise.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 2</p>
        <p>People often only log in once per year during a service week or end of year giving campaign.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 3</p>
        <p>People don’t know everything they can do. There are common customer support questions that shouldn’t need to be asked.</p>
      </div>
    </div>

  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shaping the idea</h5>
      <h3>Challenges</h3>
      <p>Due to the problems above, we saw large swings in engagement throughout the year.</p>
      <img class="case-study__image" src="../images/cs-engagement/engagement-map.jpg" alt="">
      <h3>Gathering ideas</h3>
      <p>Our first challenge was to gather ideas for how we might boost awarness and engagement of Bright Funds within the workplace.</p>
      <p>To gather insights and ideas from around the company, I developed a pitch document. When someone had an idea they’d like to share, they wrote out what the idea was, why they think it would be effective, and how it could be measured. This document was then shared in a slack channel.</p>

      <h3>Choosing projects</h3>
      <p>A group from the product team would meet every few weeks and discuss ideas that had been submitted and choose the next project to build. We made decisions based on what we believed would have high impact and what could be built and tested within 2-4 weeks.</p>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Project 1</h5>
      <h3>Fundraisers</h3>
      <h4>Increasing awareness through social fundraisers</h4>
      <!-- <p>Focus: <span class="definition-badge">Awareness</span>, <span class="definition-badge">Engagement</span></p> -->
      <p>We wanted to increase awareness of Bright Funds within companies. At the same time, we were wary of a traditional awareness campaign, because each company handled their internal comms differently.</p>
      <p>We did, however, know that fundraising is a key driver for giving. Fundraising for a birthday, for a race, or for a personal reason is extremely popular (IE Facebook fundraisers, charity: water, GoFundMe). Fundraisers are also inherently social. We figured this could be a natural growth mechanism within companies.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-engagement/fundraiser-explore-01.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/fundraiser-explore-02.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/fundraiser-mobile-01.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Project 2</h5>
      <h3>Onboarding</h3>
      <h4>Helping people get to the 'aha' through better onboarding</h4>
      <p>Through questions that came up in support conversations and user interviews, we saw that we weren’t helping people reaching the ‘aha’ moment for the product as well as we could. To guide someone through their initial experience, we developed an onboarding 'happy path'. We then translated this happy path into an onboarding checklist.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-engagement/onboarding-01.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/onboarding-02.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/onboarding-mobile-01.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Project 3</h5>
      <h3>Goal setting</h3>
      <h4>Helping people reach their goals</h4>
      <p>Based on research from other fields (especially retirement saving) we were interested to see whether having someone set a goal for how much they’d like to give would have any effect on their behavior. Our hypothesis was that if we prompted someone to set a goal for how much they'd like to give over the course of a year and then make it easy for her to follow up with her intentions, she would be more likely to give more and more often.</p>
      <img class="case-study__image" src="../images/cs-engagement/goal-user-flow.jpg" alt="">
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-engagement/goal-profile-01.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/goal-mobile-01.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Project 4</h5>
      <h3>Tips and advice</h3>
      <h4>Helping people take full advantage of the product</h4>
      <p>We knew that people weren’t fully aware of everything they could do on Bright Funds. Matching donations to fundraisers, setting up automatic donations, giving through payroll. These came up frequently through support conversations. We worked through these two types of tips. Educational tips (What can I do) and contextual advice (What do you suggest).</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-engagement/tip-01.png" class="image-full__img image-full--no-shadow" alt="">
      <img src="../images/cs-engagement/tips-mobile-01.png" class="image-full__img image-full--no-shadow" alt="">
    </div>
    </div>

  </section>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
        <h5>Moving forward</h5>
        <h3>Positive results</h3>
        <p>This series of product updates not only spurred more donations throughout the year, but were also loved by our customers and internal teams. When comparing monthly donations to the previous year, we saw a noticeable growth. Personalized tips, advice, and goals made our product tailored to each person’s unique reasons for giving. We saw teams within companies running fundraisers through Bright Funds ranging from annual yoga festivals, pride month, and Relay for Life. And the onboarding checklist provided a framework that the team could tweak to better guide users through the product.</p>

      </div>
  </section>
</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
