<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--2">
    <div class="case-study__header-content" data-aos="fade-up">
      <h2 class="case-study__company">Bright Funds</h4>
      <h1 class="case-study__title">How can we help people discover and use their workplace giving programs?</h3>
      <div class="case-study__role">Lead Designer / Team of 2</div>
      <img src="../images/cs-engagement/header-image-01.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Engagement Design Case Study">
    </div>
</div>

<div class="case-study__body">
  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h3 class="section-title">Cutting through the noise</h3>
    <p class="p--large">Did you volunteer or make a donation last year? Likelihood is you did at least once. And so do most people – in fact, most wish they did more. Bright Funds helps companies build a culture of volunteering and giving back. Benefits like matching donations and offering volunteer time off is a great way for companies to invest in their people’s interests outside of work. And they’re helping better their community at the same time.</p>
    <p class="p--large">It’s a win win.</p>
    <p>Bright Funds offers a product that companies use to run their giving, matching, and volunteering programs.</p>
    <p>What we were seeing from our data and hearing from the people at companies who run their giving programs was that people love the giving and volunteering benefits we offer, but they were being under used.</p>
    <p>People are busy at work (that’s a good thing!). But as a result, soft benefits like having your donations matched were slipping through the cracks.  An engineer and I took up the challenge to understand why benefits like this weren’t being used and to iterate through possible features that could boost awareness and usage.</p>

    <h3>Early insights</h3>
    <p>To get started, I held conversations with employees, looked at usage data, and read through customer support conversations to understand what motivates people to give and what was holding them from using their giving and volunteer benefits.</p>
    <p>We learned that:</p>
    <ul>
      <li><strong>Overall awareness within companies can be low.</strong><br>People are busy with their work and daily lives. Often, giving benefits are explained as part of an employee’s onboarding, but people are already way too overloaded in those first few weeks. Giving and matching doesn’t stick.</li>
      <li><strong>People often only log in once per year.</strong><br>Many companies run a service week or end of year giving campaign where they drum up awareness. After that many people don’t come back. </li>
      <li><strong>People don’t know everything they can do.</strong><br>For example, we get people reaching out with questions like: “I made a donation to a friend’s race, can that be matched?”. </li>
    </ul>
    <p>These problems result in people leaving matching on the table that they could have used or not taking advantage of their volunteer benefits.</p>

    <h3>From problem to opportunity</h3>
    <p>I repositioned the problems we found were holding people back into opportunities.</p>
    <ol>
      <li>How might we make people aware that their company offers great donation and volunteering benefits.</li>
      <li>How might we encourage people to give and volunteer throughout the year (people want to do this anyway!</li>
      <li>How might help people take full advantage of all the giving and volunteering benefits they have.</li>
    </ol>

    <p>Next, we began thinking through possible solutions for these opportunities.</p>

    <p>There’s not one magic method to decide on which projects to take on. In this case, we made decisions based on what we believed would have high impact, what would be within our desired effort to build (we wanted to keep each project small, around 2-4 weeks work), and whether we’ve heard specific requests from clients. We chose a range of projects that would target the problems pinpointed.</p>

    <h3>Onboarding</h3>
    <p>Focus: <span class="definition-badge">Understanding features</span></p>
    <p>The first time someone logs in is a critical moment. Our job is to help that person get to the ‘aha’ moment of understanding why this product deserves a spot in their life. Some pieces of the onboarding process were working ok, but we knew we could do better.</p>
    <p>People were most likely to come back if they shared a bit about how they’d like to volunteer and made their first donation. By doing so, we could follow up with that person about volunteer opportunities. They would also experience a peak when seeing that their donation was doubled by their company matching.</p>
    <p>To guide someone through their initial experience, we developed an ‘onboarding checklist’.</p>
    <p>This checklist welcomed the person to the product and walked them through a few simple things they could do. For example, we ask what skills they might be interested in volunteering. Then, if there is a volunteer opportunity with a matching skill we can let that person know. We encourage someone to get started by making their first donation or requesting a match. This checklist helps someone understand what they can do and provides some quick moments of accomplishment.</p>

  </div>

  <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
    <img src="../images/cs-engagement/onboarding-01.png" class="image-full__img" alt="">
    <img src="../images/cs-engagement/onboarding-02.png" class="image-full__img" alt="">
    <img src="../images/cs-engagement/onboarding-03.png" class="image-full__img" alt="">
    <img src="../images/cs-engagement/onboarding-04.png" class="image-full__img" alt="">
    <img src="../images/cs-engagement/onboarding-05.jpg" class="image-full__img" alt="">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <h3>Tips and advice</h3>
    <p>Focus: <span class="definition-badge">Understanding features</span></p>
    <p>We knew that people weren’t fully aware of everything they could do on Bright Funds. Matching donations to fundraisers, setting up automatic donations, giving through payroll. These came up frequently through support conversations. </p>
    <p>At the same time, when people donate they’re not given advice on how to make the most of it. Say you have $1,000 of matching and are giving $50 per month. You’ll be leaving $400 of matching on the table. Figuring that out requires mental math. If I wanted to use all of my matching, I would need to do the monthly calculations myself.</p>
    <p>Helping someone understand what they could do would help them take full advantage of their various benefits. Helping them make better decisions would deliver higher value.</p>
    <p>We worked through these two types of tips. Educational tips (What can I do) and contextual advice (What do you suggest).</p>
    <p>I looked at a few visual treatments for the educational tips. We wanted them to be prominent, but not get in the way. For example, we knew that if we periodically displayed a modal with tips people would close it and not have a way to get back.</p>
    <p>Every user’s account has a home page with their giving and volunteering activity. I decided to take over the header of this page with the tips. By doing so, it was prominent (in the header of the first page someone sees when logging in), it didn’t get in the way, and it didn’t require new screen real estate.</p>

    </div>

    <div class="image-full__wrapper image-full--engagement image-grid" data-aos="fade-up">
      <img src="../images/cs-engagement/tip-01.jpg" class="image-grid__image--1" alt="Product design mockup of explore page">
      <img src="../images/cs-engagement/tip-02.jpg" class="image-grid__image--2" alt="Product design mockup of explore page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <p>The first round of contextual advice was focussed on helping someone use their donation matching. If someone was making a donation we display how much matching would be available afterwards. By doing so, they could decide whether to change how much they’re giving.</p>
    <p>If someone was making a recurring donation, we show how much that person could give monthly to take advantage of their full year’s matching.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
      <img src="../images/cs-engagement/tip-03.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <h3>Fundraising</h3>
    <p>Focus: <span class="definition-badge">Awareness</span>, <span class="definition-badge">Frequency of usage</span></p>
    <p>We knew that the awareness of giving and matching programs could be pretty low in companies. Soft benefits like these aren’t critical to someone’s work and they don’t earn the same attention as benefits like insurance and retirement savings.</p>
    <p>We wanted to increase awareness. At the same time, we were wary of a traditional awareness campaign, because each company handled their internal comms differently. Company A might use email, company B Slack, company C an internally built tool. On top of that, each company would likely want to control what they say, how they say it, and when. And we also weren’t sure how effective something like awareness emails would be. We didn’t want to invest effort in a project that would result in messages silently landing in inboxes.</p>
    <p>However, we did know that fundraising is a key driving of giving. Giving someone the power to raise money for a cause - for a birthday, for a race, for a personal reason - is a proven way to pull others in. People give because they were asked by a friend.</p>
    <p>Our hunch was that we could encourage people to fundraise on Bright Funds with the knowledge that donations would be matched (therefore doubling the amount raised). This would be a trojan horse. The coworkers that supported the fundraiser would then be introduced to Bright Funds and could learn about the other benefits available to them.</p>

  </div>

  <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
    <img src="../images/cs-engagement/fundraiser-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <h3>Goal setting</h3>
    <p>Focus: <span class="definition-badge">Frequency of usage</span></p>
    <p>This project was an outlier. It was larger than the other three and required more design and development work. But based on research from other fields (especially retirement saving) we were interested to see whether having someone set a goal for how much they’d like to give would result in them giving more or giving more often. </p>
    <p>The problem we were seeing was that an employee (let’s call her Rachel) gives sporadic one-time donations. She donates when her company runs a giving or volunteer campaign, and then beyond that when she’s asked by friends. At the same time, we heard that people like Rachel thought they should be giving more.</p>
    <p>Our hypothesis was that if Rachel was prompted to make how much she would like to give concrete by setting a goal and then make it easy for her to follow up with her intentions, she would be more likely to give more and more often.</p>
    <p>When Rachel logs in, she can set a goal. First, she selects which percentage of her salary she’d be interested in giving. We provide a benchmark of 6% based on research indicating that is how much people believe others should give.</p>

    </div>

    <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
      <img src="../images/cs-engagement/goal-01.jpg" class="image-full__img" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <p>Then she selects her income range. We decided on income ranges rather than exact income to combat privacy concerns people may have.</p>

    </div>

    <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
      <img src="../images/cs-engagement/goal-02.jpg" class="image-full__img" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <p>Lastly, she sees a dollar amount for her goal and can make changes if she’d like.</p>

    </div>

    <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
      <img src="../images/cs-engagement/goal-03.jpg" class="image-full__img" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <p>To make the next step actionable, we provide a few suggested ways to donate. Knowing that Rachel might be wary of donating on the spot, we also have an option to send a reminder in a month.</p>
    <p>Progress toward the goal was displayed on Rachel’s account whenever she logged in. She also received a few emails throughout the year with feedback about her progress.</p>

    </div>

    <div class="image-full__wrapper image-full--engagement" data-aos="fade-up">
      <img src="../images/cs-engagement/goal-04.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md" data-aos="fade-up">

      <h3>Positive results</h3>
      <p>This series of product updates not only spurred more donations throughout the year, but were also loved by our customers and internal teams. When comparing monthly donations to the previous year, we saw a growth of over 10%. Personalized tips, advice, and goals made our product tailored to each person’s unique reasons for giving. We saw teams within companies running fundraisers through Bright Funds ranging from annual yoga festivals, pride month, and Relay for Life. And the onboarding checklist provided a framework that the team could tweak to better guide users through the product.</p>

      <p>There was also much more to do. We purposefully limited the size of each project to around two weeks. That meant keeping a close eye on what was in scope. Especially with tips and goal setting, there was a lot we could do to provide the best personalized advice. Understanding what someone cares about, how they view giving, and what their life is like all can help us serve up unique suggestions on how they could give. However, we made the decision at the start to get work out the door and iterate further later. This projects provided the basis for the team to grow and experiment with.</p>

  </div>
</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
