<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--2">
    <div class="case-study__header-content" data-aos="fade-up">
      <h2 class="case-study__company">Bright Funds</h4>
      <h1 class="case-study__title">How can we increased awareness of a company benefit</h3>
      <div class="case-study__role">Lead Designer / Team of 2</div>
      <img src="../images/cs-engagement/header-image-01.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Engagement Design Case Study">
    </div>
</div>

<div class="case-study__body">
  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h3 class="section-title">Cutting through the noise</h3>
    <p class="p--large">Bright Funds helps companies build a culture of volunteering and giving back. Almost everyone donates or volunteers at least once over the course of a year. Most say they want to do more. For companies, benefits like matching donations and offering volunteer time off is an excellent way to show that they care about their people. And they’re helping better their community too.</p>
    <p class="p--large">It’s a win win.</p>
    <p>Bright Funds offers a product that companies use to run their giving, matching, and volunteering programs.</p>
    <p>What we were seeing from our data and hearing from the people at companies who run their giving programs was that people love the giving and volunteering benefits we offer, but it was being under used.</p>
    <p>People are busy at work (That’s a good thing!). But as a result, soft benefits like having your donations matched were slipping through the cracks.  An engineer and I took up the challenge to understand why benefits like this weren’t being used and to iterate through possible features that could boost awareness and usage.</p>

    <h3>Early insights</h3>
    <p>To get started, I held conversations with employees, looked at usage data, and read through customer support conversations.</p>
    <p>We learned that:</p>
    <ul>
      <li><strong>Overall awareness within companies can be low.</strong> People are busy with their work and daily lives. Often, giving benefits are explained as part of an employee’s onboarding, but people are already way too overloaded in those first few weeks. Giving and matching doesn’t stick.</li>
      <li><strong>People often only log in once per year.</strong> Many companies run a service week or end of year giving campaign where they drum up awareness. After that many people don’t come back. </li>
      <li><strong>People don’t know everything they can do.</strong> For example, we get people reaching out with questions like: “I made a donation to a friend’s race, can that be matched?”. </li>
    </ul>
    <p>These problems results in people leaving matching on the table that they could have used or not taking advantage of their volunteer benefits. </p>

    
  </div>
</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
