<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--1 grid">
    <div class="case-study__header-content grid--centered" data-aos="fade-up">
      <h2 class="case-study__company">Foundation Funds</h2>
      <h1 class="case-study__title">Redesigning a key feature to help people give more effectively</h1>
      <div class="case-study__role">Lead Designer / Team of 3</div>
      <video width="100%" autoplay loop playsinline muted poster="../images/cs-foundation-fund/header-poster.jpg">
        <source src="../images/cs-foundation-fund/funds-details-page.mp4" type="video/mp4">
        <img src="../images/cs-foundation-fund/case-study_foundation-funds.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
      </video>
    </div>
</div>

<div class="case-study__body">

  <div class="grid">
    <div class="grid case-study__details" data-aos="fade-up">
      <div class="case-study__details-section">
        <h4>Company</h4>
        <p class="p--small case-study__details-description">Bright Funds is a for-profit, for-good enterprise product that companies use to run their giving and volunteering benefits. </p>
      </div>

      <div class="case-study__details-section">
        <h4>Role</h4>
        <p class="p--small case-study__details-description">I lead design and worked alongside one developer who headed technical implementation. My role included gathering user insights, project planning and scope definition, experience design, UI design.</p>
      </div>

      <div class="case-study__details-section">
        <h4>Process</h4>
        <ol class="p--small case-study__details-description">
          <li>Aligning on the problem</li>
          <li>Research</li>
          <li>User Flows</li>
          <li>Sketches</li>
          <li>UI Design</li>
          <li>Prototype</li>
        </ol>
      </div>
    </div>
  </div>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>The problem</h5>
      <h3 class="section-title">Getting back to the roots</h3>
      <p class="p--large">Bright Funds transitioned from B2C to B2B2C. To handle the growth, many features were added but the original concept of Funds hadn’t been given attention. The team had learned from the previous iteration of Funds, but didn't have the bandwidth to act on these findings.</p>

      <h3>The challenge</h3>
      <p>Develop the next version of Funds that will help people give effectively and solidify Bright Fund's position as the philanthropic thought leader for workplace giving and corporate social responsibility products.</p>

    </div>
  </section>

  <section class="grid case-study__introducing" data-aos="fade-up">
    <div class="case-study__introducing-text">
      <h3>Introducing, <br />Foundation Funds</h3>
      <p class="case-study__introducing-description">The expertise and knowledge that has traditionally only been available to high-net-worth donors will now be available to everyone. Each Fund is backed by a Foundation or expert who would find the best way to support that cause.</p>
    </div>
    <div class="case-study__introducing-image">
      <img src="../images/cs-foundation-fund/product-shot-project-intro.jpg" alt="" class="">
    </div>
  </section>


  <section class="grid case-study__problem-section" data-aos="fade-up">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shaping the idea</h5>
      <h3>Researching the problem</h3>
      <p>First, I took scope of the problem in greater detail. I spoke with team members to gather internal knowledge, analyzed support conversations, and organized interviews with an inital group of users.</p>
      <p>Based on this research, our team aligned on these three core insights:</p>
    </div>

    <div class="grid case-study__problems">
      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 1</p>
        <p>People want their giving to make a difference, but it’s not clear to them how to do this.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 2</p>
        <p>It’s hard to discover the best places to give, so people end up falling back on the places they already know.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 3</p>
        <p>People often don’t have a time when they think or reflect on how they’d like to give.</p>
      </div>
    </div>

  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Mapping out the project</h5>
      <h3>Breadboarding</h3>
      <p>I took the lead in mapping how this project would fit into the product so that we could understand the scope of work.</p>
      <p>At this stage, the goal was to gain an understanding of the scope of work and to explore ideas quickly without worrying about visual design. Even if the low-fi style of a wireframe is meant to prevent ideas from becoming precious, early layout and UI decisions can cement thinking as you go. At this point, there’s not yet a need to decide on UI.</p>
      <p>I’ve taken to the process of breadboarding <a class="link-underline" href="https://www.feltpresence.com/breadboards.html" target="_blank">described by</a>  <a class="link-underline" href="https://basecamp.com/shapeup/1.3-chapter-04#breadboarding" target="_blank">Ryan Singer</a>.
      <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-04.jpg" alt="Breadboard product design sketch">

      <h3>Core user flow</h3>
      <p>Once the path was decided on, I mapped out the user flows and screen components.</p>
      <img class="case-study__image" src="../images/cs-foundation-fund/user-flow-01.jpg" alt="">

      <h3>Sketching views</h3>
      <p>I then sketched out the various views in higher fidelity. At this point, the UI is still rough, but we have an idea of what content belongs where and are preparing to jump to higher fidelity design. I used Miro to share the various screen sketches gather feedback from the team.</p>
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-02.jpg" alt="Product design sketch of explore page">
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-03.jpg" alt="Product design sketch of Fund listing page">
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-04.jpg" alt="Product design sketch of Fund listing page">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Design</h5>
      <h3>Let’s break down the design of a few views, starting with the discovery experience.</h3>
      <h4>Explore view</h4>
      <p>The explore page is the jumping off point in the product where people search for or discover places to give. The purpose of this page is to make the act of deciding where to give, easier. I added several elements to this page to encourage the discovery of Foundation Funds.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/explore-03.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of explore page">
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/explore-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <ol>

        <li>
          <h4>Callout for Foundation Funds</h4>
          <p>First, I designed a callout for Foundation Funds that lived on the Explore page. Here, users could either click through to view all Funds or select one in particular. The purpose here was to lead users to learn more about one cause in specific or to explore all. I used a full-width, high quality image to make this section stand out visually from the other items on the page.</p>
        </li>

        <li>
          <h4>Listing all Funds below the callout</h4>
          <p>If someone has a specific cause they are drawn to, we wanted to provide a shortcut to that cause without needing to navigate to the index page. For that reason, we listed each Fund. This technique works because we launched with an initial test of 6. however, the UI would need to be modified once more Funds are added, as they would no longer fit in a single row.</p>
        </li>

        <li>
          <h4>Subnav</h4>
          <p>The content on the Explore page can change depending on whether there is featured content. We added a subnav for easy access to Foundation Funds without scrolling to the lower section or searching.</p>
        </li>

      </ol>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3>Listing all of the Foundation Funds</h3>
      <h4>Index view</h4>
      <p>I designed a new view that houses all of the Foundation Funds. This is where users can jump off to a specific cause.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/index-02.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of Fund listing page">
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/index-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <ol>

        <li>
          <h4>New index view</h4>
          <p>I designed a new index view to house all of the Foundation Funds. This is where users can learn more about the product category and jump off to detail views for specific Funds. The page used the existing 12 column grid, but most components were designed from scratch.</p>
        </li>

        <li>
          <h4>Sensory appeal</h4>
          <p>People are more likely to support a cause when they are in an emotional mindset. For this reason, I am using a large image of a cause in the header before listing the individual Funds.</p>
        </li>

        <li>
          <h4>Fast access to all Funds</h4>
          <p>This project was launched with an initial test of 6 Funds. Because the test group was small, we did not need to implement search and filter functionality. Rather, I listed all of the Funds above the larger listings below so that users could skip to a specific Fund. I wanted to avoid only the top one or two Funds receiving all attention.</p>
        </li>

        <li>
          <h4>Branding elements</h4>
          <p>I designed small branding elements for Foundation Funds that could sit alongside the Funds. After introducing this new concept there were two types of Funds - the Funds that had already existed and this new version powered by foundations and experts. The icon helped users distinguish between the two.</p>
        </li>

      </ol>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3>Designing the details view for each Foundation Fund</h3>
      <h4>Details view</h4>
      <p>I designed a new details view for each Foundation Fund. This is where users could learn more about the Fund and jump off to donate.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/fund-header-05.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of Fund header">
    </div>
    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/fund-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <ol>

        <li>
          <h4>Power of the tribe</h4>
          <p>One reason why people give is due to the ‘warm glow’ that they receive. Helping others feels good. There are also social reasons people give. People want others to think of them as the type of person who gives. Calling out the most recent donor to boosts the social reward. When someone donates, they know they will be featured for others to see.</p>
        </li>

        <li>
          <h4>Visualizing progress</h4>
          <p>When there is a clear, measurable goal it’s more likely that people will join in to accomplish it. For this reason, we included a tangible goal for each Fund. One problem with a goal is that at the beginning and middle stages, people can feel like their contribution is simply a drop in the bucket. To combat this, I broke the large goal into three smaller phases.</p>
        </li>

        <li>
          <h4>Sensory appeal</h4>
          <p>People are engaged on an emotional level by things that appeal to the senses. People are also more likely to relate to and support a cause when they are in an emotional mindset. For this reason, detail pages have a large header image that are animated in as an emotional lead.</p>
        </li>

      </ol>
    </div>
  </section>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Development</h5>
      <h3>Building together</h3>
      <p>I partnered with one developer who led the technical implementation. I broke the project into the various scopes, features into smaller chunks, and helped with front-end development.</p>
      <p>When work was deployed, I could pull the latest and push updates directly. For example, if a UI component needed work or copy needed wordsmithing I would do that in code.</p>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shipping</h5>
      <h3>And moving forward...</h3>
      <p>To test this project, we launched six Foundation Funds. Each Fund was given a goal ranging from $20,000 to $30,000 to gauge interest.</p>
      <blockquote>We saw several thousand people donate and most Funds reach their test goal within a few days.</blockquote>
      <p>This project helped people give by letting them lean on others’ expertise. It reduced the burden of ‘where do I give?’. However, it didn’t address getting people in the door in the first place. This was a core focus for several future projects – and our largest learning. We could make it easier for people to give effectively, but they need to decide to give in the first place.</p>
    </div>
  </section>


</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
