<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--1">
    <div class="case-study__header-content">
      <h4 class="case-study__company">Bright Funds</h4>
      <h3 class="case-study__title">How we redesigned a key product feature to make giving more effective</h3>
      <div class="case-study__role">Lead Designer / Team of 3</div>
    </div>
</div>

<%- include("../partials/footer.ejs"); %>
