<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--1 grid">
    <div class="case-study__header-content grid--centered" data-aos="fade-up">
      <h2 class="case-study__company">Foundation Funds</h2>
      <h1 class="case-study__title">Redesigning a key feature to help people give more effectively</h1>
      <div class="case-study__role">Lead Designer / Team of 3</div>
      <video width="100%" autoplay loop playsinline muted poster="../images/cs-foundation-fund/header-poster.jpg">
        <source src="../images/cs-foundation-fund/funds-details-page.mp4" type="video/mp4">
        <img src="../images/cs-foundation-fund/case-study_foundation-funds.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
      </video>
    </div>
</div>

<div class="case-study__body">

  <div class="grid">
    <div class="grid case-study__details" data-aos="fade-up">
      <div class="case-study__details-section">
        <h4>Company</h4>
        <p class="p--small case-study__details-description">Bright Funds is a for-profit, for-good enterprise product that companies use to run their giving and volunteering benefits. </p>
      </div>

      <div class="case-study__details-section">
        <h4>Role</h4>
        <p class="p--small case-study__details-description">I lead design and worked alongside one developer who headed technical implementation. My role included gathering user insights, project planning and scope definition, experience design, UI design.</p>
      </div>

      <div class="case-study__details-section">
        <h4>Process</h4>
        <ol class="p--small case-study__details-description">
          <li>Aligning on the problem</li>
          <li>Research</li>
          <li>User Flows</li>
          <li>Sketches</li>
          <li>UI Design</li>
          <li>Prototype</li>
        </ol>
      </div>
    </div>
  </div>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>The problem</h5>
      <h3 class="section-title">Getting back to the roots</h3>
      <p class="p--large">Bright Funds transitioned from B2C to B2B2C. To handle the growth, many features were added but the original concept of Funds hadn’t been given attention. The team had learned from the previous iteration of Funds, but didn't have the bandwidth to act on these findings.</p>

      <h3>The challenge</h3>
      <p>Develop the next version of Funds that will help people give effectively and solidify Bright Fund's position as the philanthropic thought leader for workplace giving and corporate social responsibility products.</p>

    </div>
  </section>

  <section class="grid case-study__introducing" data-aos="fade-up">
    <div class="case-study__introducing-text">
      <h3>Introducing, <br />Foundation Funds</h3>
      <p class="case-study__introducing-description">The expertise and knowledge that has traditionally only been available to high-net-worth donors will now be available to everyone. Each Fund is backed by a Foundation or expert who would find the best way to support that cause.</p>
    </div>
    <div class="case-study__introducing-image">
      <img src="../images/cs-foundation-fund/product-shot-project-intro.jpg" alt="" class="">
    </div>
  </section>


  <section class="grid case-study__problem-section" data-aos="fade-up">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shaping the idea</h5>
      <h3>Researching the problem</h3>
      <p>First, I took scope of the problem in greater detail. I spoke with team members to gather internal knowledge, analyzed support conversations, and organized interviews with an inital group of users.</p>
      <p>Based on this research, our team aligned on these three core insights:</p>
    </div>

    <div class="grid case-study__problems">
      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 1</p>
        <p>People want their giving to make a difference, but it’s not clear to them how to do this.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 2</p>
        <p>It’s hard to discover the best places to give, so people end up falling back on the places they already know.</p>
      </div>

      <div class="case-study__problem">
        <p class="case-study__problem-title">Problem 3</p>
        <p>People often don’t have a time when they think or reflect on how they’d like to give.</p>
      </div>
    </div>

  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Mapping out the project</h5>
      <h3>Breadboarding</h3>
      <p>I took the lead in mapping how this project would fit into the product so that we could understand the scope of work.</p>
      <p>At this stage, the goal was to gain an understanding of the scope of work and to explore ideas quickly without worrying about visual design. Even if the low-fi style of a wireframe is meant to prevent ideas from becoming precious, early layout and UI decisions can cement thinking as you go. At this point, there’s not yet a need to decide on UI.</p>
      <p>I’ve taken to the process of breadboarding <a class="link-underline" href="https://www.feltpresence.com/breadboards.html" target="_blank">described by</a>  <a class="link-underline" href="https://basecamp.com/shapeup/1.3-chapter-04#breadboarding" target="_blank">Ryan Singer</a>.
      <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-04.jpg" alt="Breadboard product design sketch">

      <h3>Core user flow</h3>
      <p>Once the path was decided on, I mapped out the user flows and screen components.</p>
      <img class="case-study__image" src="../images/cs-foundation-fund/user-flow-01.jpg" alt="">

      <h3>Sketching views</h3>
      <p>I then sketched out the various views in higher fidelity. At this point, the UI is still rough, but we have an idea of what content belongs where and are preparing to jump to higher fidelity design. I used Miro to share the various screen sketches gather feedback from the team.</p>
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-02.jpg" alt="Product design sketch of explore page">
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-03.jpg" alt="Product design sketch of Fund listing page">
      <img class="case-study__image" src="../images/cs-foundation-fund/sketch-04.jpg" alt="Product design sketch of Fund listing page">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Design</h5>
      <h3>Designing the discovery experience</h3>
      <h4>Explore</h4>
      <p>Here you can see how our sketches translated into the implemented design with a sub-navigation at the top of the screen and a highlighted section of Foundation Funds lower on the page. We decided on listing all of the Foundation Funds using a similar technique as the listing on the index page (you’ll see that later). Reason being was that we know people are driven by the cause that they care about. If they see a cause they’re interested in our hypothesis was they’ll be more likely to click through. Other items on this page are listed in a four column layout. We decided to highlight one Fund at a time with a single column card, so that they would stand out in contrast.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/explore-03.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of explore page">
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/explore-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h4>Listing all of the Foundation Funds</h4>
      <p>On the index page of Foundation Funds we prominently listed each Fund and provided a navigation at top so that people could see all of the options in one view. This would make it faster for people to identify a cause they care about. Clicking an item in the navigation scrolls the user to the appropriate Fund in the list.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/index-02.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of Fund listing page">
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/index-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">

      <h3>Designing the details view</h3>
      <p>The design of the Fund page mirrors the donor thought process we mapped earlier. I wanted to nudge people to think optimistically about a cause when they first land on a Foundation Fund page. This would engage emotional reasoning, which has been proven to be effective in encouraging donations. For this reason, each page starts with a series of ‘Imagine if…’ statements. “Imagine if every child had access to the healthcare they need”. Behind each statement is a related image that reiterates the emotional reasons to donate.</p>

    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/fund-header-05.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of Fund header">
    </div>
    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/fund-mobile-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of search page">
    </div>

    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3>A tangible goal</h3>
      <p>When there is a clear, measurable goal it’s more likely that people will join in to accomplish it. A goal provides something that you can grasp on to and measure against. It also gives a sense of accomplishment. “I got us $50 dollars closer…”. For this reason, we decided to give each Fund a dollar goal to start. One problem with a goal is that at the beginning and middle stages, people can feel like their contribution is simply a drop in the bucket. Versus those that contribute at the end can see their contribution as getting the group over the finish line. I decided to break the goal into three stages.</p>
      <ul>
        <li>Become a founding donor</li>
        <li> Build support</li>
        <li>Join the final push</li>
      </ul>
      <p>In this way, each person could recognize their contribution no matter at what stage they donated.</p>
    </div>

    <div class="image-full__wrapper image-full--foundation-funds grid--max" data-aos="fade-up">
      <img src="../images/cs-foundation-fund/goal-01.png" class="image-full__img image-full--no-shadow" alt="Product design mockup of Fund goal">
    </div>

  </section>


  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Development</h5>
      <h3>Building together</h3>
      <p>I partnered with one developer who led the technical implementation. I broke the project into the various scopes, features into smaller chunks, and helped with front-end development.</p>
      <p>When work was deployed, I could pull the latest and push updates directly. For example, if a UI component needed work or copy needed wordsmithing I would do that in code.</p>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h5>Shipping</h5>
      <h3>And moving forward...</h3>
      <p>To test this project, we launched six Foundation Funds. Each Fund was given a goal ranging from $20,000 to $30,000 to gauge interest.</p>
      <blockquote>We saw several thousand people donate and most Funds reach their test goal within a few days.</blockquote>
      <p>This project helped people give by letting them lean on others’ expertise. It reduced the burden of ‘where do I give?’. However, it didn’t address getting people in the door in the first place. This was a core focus for several future projects – and our largest learning. We could make it easier for people to give effectively, but they need to decide to give in the first place.</p>
    </div>
  </section>


</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
