<%- include("../partials/header.ejs"); %>

<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--1">
    <div class="case-study__header-content" data-aos="fade-up">
      <h2 class="case-study__company">Bright Funds</h4>
      <h1 class="case-study__title">Redesigning a key feature to help people give more effectively</h3>
      <div class="case-study__role">Lead Designer / Team of 3</div>
      <img src="../images/cs-foundation-fund/case-study_foundation-funds.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
    </div>
</div>

<div class="case-study__body">
  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h3 class="section-title">Getting back to the roots</h3>
    <p>Bright Funds was founded to make giving effective, rewarding, and easy. It did this by offering Funds–think mutual funds for giving–that supported a thematic group of organizations and followed up with stories from the organizations. Over time, the product grew and transitioned from B2C to B2B2C. To handle the growth, many features were added but the original concept of Funds hadn’t been touched in far too long. I was part of a project to redesign this core part of the experience.</p>
    <h3>Early insights</h3>
    <p>The typical person using Bright Funds is an employee at a company using our product to run their giving and volunteering programs. Many use Bright Funds to take advantage of their company’s donation matching. They come to turn their $100 donation into $200.</p>
    <p>At the time, people could donate to nonprofits or nonprofit mutual Funds. Each Fund supported a group of organizations working towards a cause. Roughly 30% of people had donated to a Fund. Many people donate to Funds because they’re supporting a cause they care about and the work of finding organizations was done for them. They made it easier to give by taking away the effort of deciding what organization to support.</p>
    <p>From looking at usage data, customer support conversations, and customer outreach we gathered these insights</p>
    <ol>
      <li><strong>People want their giving to make a difference, but it’s not clear to them how to do this.</strong> 85% of donors say they care about nonprofit performance, but fewer than 10% give based on performance.</li>
      <li><strong>It’s hard to discover the best places to give.</strong> There’s no place that guides decisions around how to give or where to give. The best information is held within foundations, which  is typically available only to high net-worth individuals.</li>
      <li><strong>People often don’t have a time when they think or reflect on how they’d like to give.</strong> Giving becomes a reaction.</li>
      <li><strong>There’s a shifting focus from nonprofits (I want to give to nonprofit x) to causes (I want to help people who don’t have a place to live).</strong></li>
    </ol>
    <p class="p--large">85% of donors say they care about nonprofit performance, but fewer than 10% give based on performance. This gap between someone’s intention and behavior showed an opportunity.</p>

    <h3>Framing the concept</h3>
    <p>Think about the last time you donated. Maybe a friend asked you to support their bike-a-thon. Or maybe it was the holidays so you donated to an organization you support periodically...</p>
    <p>Now imagine how Bill Gates gives. He has access to an entire foundation discovering ways to change lives. OK, Bill Gates might be an unfair example. But the point is that someone giving a large amount of money can lean on experts to guide how to make the most impact.</p>
    <p>When we give, we’re mostly thrown into the deep end. We follow our habits. In many cases that means giving when asked, not giving at all, or supporting the same organization. There’s nowhere to go that helps us make smart decisions (or makes smart decisions for us).</p>
    <p class="p--large">We wanted to flip the script. Whether you’re donating $10 or $1,000 - our goal was to give you the same power as someone giving millions.</p>

    <p>If 85% of people say they care about performance and Funds are an effective means in encouraging people to shift their giving habits, we felt that offering a version backed by Foundation expertise could be hugely impactful. </p>

    <p>We arrived at the concept of Foundation Funds. The idea was that each Foundation Fund would be backed by a Foundation or expert who would find the best way to support that cause. Your 10 dollars would be pooled up with everyone else’s 10 dollars and channelled to proven, impactful projects.</p>

    <p>This project would:</p>

    <ul>
      <li>Be a strategic differentiator from competitors.</li>
      <li>Build a deeper relationship with people who would come to Bright Funds seeking the extra resources offered.</li>
      <li>Solve some of the inner conflict when it comes to giving (desire to give effectively, lack of a product to help them do that).</li>
    </ul>

    <h3>Mapping out the project</h3>
    <p>We had an idea and were ready to get more concrete. </p>

    <p>At this stage, the goal was to gain an understanding of the scope of work and to explore ideas quickly without worrying about visual design. Even if the low-fi style of a wireframe is meant to prevent ideas from becoming precious, early layout and UI decisions can cement thinking as you go. At this point, there’s not yet a need to decide on UI.</p>

    <p>I’ve taken to the process <a class="link-underline" href="https://www.feltpresence.com/breadboards.html" target="_blank">described by</a>  <a class="link-underline" href="https://basecamp.com/shapeup/1.3-chapter-04#breadboarding" target="_blank">Ryan Singer</a>. With breadboarding you explore how someone gets from one screen to the next and what content belongs in the various steps. The focus is on the flow of an idea, not how it looks.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-01.jpg" alt="Breadboard product design sketch">

    <p>Here’s an example of how I used breadboarding to map the user flow of Foundation Funds. Each page is underlined. Beneath that are the pieces of content and UI elements that belong on the page. From there, links are drawn to show how you get from one place to the next. We could see the project breaking into a few different scopes:</p>
    <ul>
      <li>An index page where someone could see all of the Foundation Funds</li>
      <li>A show page for each Foundation Fund</li>
      <li>A way to get to the index page from the ‘Explore’ page to capture the group of users that are browsing for suggestions</li>
    </ul>
    <p>Sketching out the flow also reminded us that it’s common for people to search for a nonprofit when they have a specific organization in mind. We wanted to make sure that these people would be aware of the new Foundation Funds. We also didn’t want to get too much in their way. We decided we’d include a way to get to the index page of Foundation Funds from the search results page, but worry about exactly how that would look later on.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-02.jpg" alt="Breadboard product design sketch">

    <p>In fact, the global navigation that is visible on almost all pages includes a search input. In this case, people would skip past the explore page all together. The flow could look something like:</p>
    <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-03.jpg" alt="Breadboard product design sketch">

    <p>We also saw that there would be at least two steps before someone reaches a Foundation Fund and can make the decision to donate. Wouldn’t it be nice if someone could get to a Foundation Fund directly from the explore page? If there could be a way for someone to see a snapshot of the possible Foundation Funds directly on explore and is ready to jump right in, we wanted to allow that.</p>
    <img class="case-study__image" src="../images/cs-foundation-fund/breadboard-04.jpg" alt="Breadboard product design sketch">

    <p>These sketches illustrate the level of fidelity that helps the team work through scenarios and use cases.</p>

    <h3>Protecting the scope</h3>
    <p>Like any project, we had many ideas of things we could do. Each new thing meant more work for the team, and as a consequence, more time. We needed to build a fence around our scope of work so that we had clarity around where we were going and how long it would take. Looking at the breadboard, we felt comfortable we could get the core of the product completed over the course of two months. Enough time to build something we could react to and get into the hands of customers. </p>

    <p>Our team size and goal of learning through real usage made it easier to decide on scope. Additional ideas would come up and be discussed, but so as to not distract from the work at hand we would hold off on expanding the feature set.</p>

    <h3>Getting concrete with sketches</h3>
    <p>With a clearer idea of the user flows and the scopes of work involved, I moved on to sketching the various UI elements. Again here, the purpose is to get concrete without bloating the process with unnecessary tools. For that reason, we use sketches rather than tools like Sketch, Illustrator, or Photoshop. In this example, I used paper and <a class="link-underline" href="http://www.miro.com" target="_blank">Miro (Realtime Board)</a> to sketch out the various elements we had pinpointed when breadboarding the experience.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/sketch-01.jpg" alt="Product design sketch of explore page">

    <p>Here’s one example. We knew we wanted a clear way for people to get to the index page of Foundation Funds. One idea was adding a section to the ‘Explore’ page. This page already highlighted various things that people could support. Our idea was to add a section on this page to show off some of the Foundation Funds and link to the full list.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/sketch-02.jpg" alt="Product design sketch of explore page">

    <p>This page also included featured content, some of which a company chooses. For example, a recent disaster relief campaign could be highlighted front and center. It was important that the featured content be given highest prominence, which would mean pushing the Foundation Funds section farther on the page. We were worried that doing so would mean most people would never see the section, so we decided to add a sub-navigation at the top of the page. This would navigated between the main Explore page and Foundation Funds index.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/sketch-03.jpg" alt="Product design sketch of Fund listing page">

    <p>One layout idea was compact so that we could fit several Funds in a single view. That way, someone could quickly jump to a Fund that they were interested in.</p>

    <img class="case-study__image" src="../images/cs-foundation-fund/sketch-04.jpg" alt="Product design sketch of Fund listing page">

    <p>However, this didn’t give each Fund the prominence we felt it deserved. A second idea was to give each Fund a full width section of the page. We wanted to make sure that someone could see all of the Funds without scrolling down a long page, so we added a navigation that would scroll users to the Fund.</p>

    <h3>Designing the discovery experience</h3>
    <h4>Explore</h4>
    <p>Here you can see how our sketches translated into the implemented design with a sub-navigation at the top of the screen and a highlighted section of Foundation Funds lower on the page. We decided on listing all of the Foundation Funds using a similar technique as the listing on the index page (you’ll see that later). Reason being was that we know people are driven by the cause that they care about. If they see a cause they’re interested in our hypothesis was they’ll be more likely to click through. Other items on this page are listed in a four column layout. We decided to highlight one Fund at a time with a single column card, so that they would stand out in contrast.</p>
  </div>

  <div class="image-full__wrapper image-full--foundation-funds image-grid" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/explore-01.jpg" class="image-grid__image--1" alt="Product design mockup of explore page">
    <img src="../images/cs-foundation-fund/explore-02.jpg" class="image-grid__image--2" alt="Product design mockup of explore page">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h4>Connecting with people that search</h4>
    <p>When someone searches, we wanted to provide a way for that person to learn about Foundation Funds. However, we didn’t want to distract the person from the task at hand – finding the thing that they searched for. For that reason, we included a sidebar that was outside the search result listings.</p>
    <p>Our ideal was to show a specific Fund based on what was being searched (IE if someone searched for a nonprofit related to the environment we could show the Mitigate Climate Change Foundation Fund). However, after talking with our engineers we discovered that this would be a heavy lift. It would involve understanding the search query, and mapping that to one of the 7 Foundation Funds. Based on our discussion of scope earlier on, we decided to keep this idea in our pocket for a later iteration.</p>

  </div>

  <div class="image-full__wrapper image-full--foundation-funds" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/search-01.jpg" class="image-full__img" alt="Product design mockup of search page">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <h4>Listing all of the Foundation Funds</h4>
    <p>On the index page of Foundation Funds we prominently listed each Fund and provided a navigation at top so that people could see all of the options in one view. This would make it faster for people to identify a cause they care about. Clicking an item in the navigation scrolls the user to the appropriate Fund in the list.</p>

  </div>

  <div class="image-full__wrapper image-full--foundation-funds image-grid" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/index-01.jpg" class="image-grid__image--1" alt="Product design mockup of Fund listing page">
    <img src="../images/cs-foundation-fund/index-02.jpg" class="image-grid__image--2" alt="Product design mockup of Fund listing page">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <h3>Workshopping content layout</h3>
    <p>By this time, we had been working with several Foundations and experts who would be providing the smarts behind the Foundation Funds (choosing the best way to support a cause, selecting nonprofits). We found ourselves battling two extremes. We knew that most people give for emotional reasons. We don’t put in the same research as someone giving thousands or hundreds of thousands of dollars. At the same time, each Foundation Fund is based on sound, logical reasoning around a cause and the best way to support it. </p>
    <p>We wanted to speak to the emotional side without watering down the substance.</p>
    <p>At this point Bright Funds had been around for 4 years and the team had hundreds of conversations with donors to understand their experiences with giving. I held another round of calls with donors at this point as well. I then lead an exercise to layout out the flow of content. The goal here was to organize the content in a way that would capture someone’s attention and then speak to the internal questions someone asks themselves (often unknowingly) when deciding whether to give.</p>
    <img class="case-study__image" src="../images/cs-foundation-fund/content-order.jpg" alt="Sketch of content order">

    <h3>Imagine if...</h3>
    <p>The design of the Fund page mirrors the donor thought process we mapped earlier. I wanted to nudge people to think optimistically about a cause when they first land on a Foundation Fund page. This would engage emotional reasoning, which has been proven to be effective in encouraging donations. For this reason, each page starts with a series of ‘Imagine if…’ statements. “Imagine if every child had access to the healthcare they need”. Behind each statement is a related image that reiterates the emotional reasons to donate.</p>

  </div>

  <div class="image-full__wrapper image-full--foundation-funds image-grid--1-3" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/fund-header-01.jpg" class="image-grid--1-3__image--1" alt="Product design mockup of Fund header">
    <img src="../images/cs-foundation-fund/fund-header-02.jpg" class="image-grid--1-3__image--2" alt="Product design mockup of Fund header">
    <img src="../images/cs-foundation-fund/fund-header-03.jpg" class="image-grid--1-3__image--3" alt="Product design mockup of Fund header">
    <img src="../images/cs-foundation-fund/fund-header-04.jpg" class="image-grid--1-3__image--4" alt="Product design mockup of Fund header">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h3>A tangible goal</h3>
    <p>When there is a clear, measurable goal it’s more likely that people will join in to accomplish it. A goal provides something that you can grasp on to and measure against. It also gives a sense of accomplishment. “I got us $50 dollars closer…”. For this reason, we decided to give each Fund a dollar goal to start. One problem with a goal is that at the beginning and middle stages, people can feel like their contribution is simply a drop in the bucket. Versus those that contribute at the end can see their contribution as getting the group over the finish line. I decided to break the goal into three stages.</p>
    <ul>
      <li>Become a founding donor</li>
      <li> Build support</li>
      <li>Join the final push</li>
    </ul>
    <p>In this way, each person could recognize their contribution no matter at what stage they donated.</p>
  </div>

  <div class="image-full__wrapper image-full--foundation-funds" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/goal-01.png" class="image-full__img" alt="Product design mockup of Fund goal">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">

    <p>To back up the imagine if statement, we then show them why they should care about the cause, what they are supporting, and why they should trust this solution. We wanted to design the Fund in a way that would be engaging to read through, but wouldn’t be so dense as to turn off the emotional reasons that attracts someone to give.</p>

  </div>

  <div class="image-full__wrapper image-full--foundation-funds" data-aos="fade-up">
    <img src="../images/cs-foundation-fund/climate-fund-with-text.png" class="image-full__img image-full--no-max image-full--no-shadow"  alt="Product design mockup of Fund page">
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <h3>Learn with prototypes</h3>
    <p>I built a round of prototypes to gain alignment internally and to use as conversation starters with Fund managers and donors. We knew, however, that receiving feedback on an idea is very different than what would happen when someone is on their own deciding whether or not to pull out their credit card. This is especially true with giving. People don’t want to come off as insensitive when hypothetically deciding whether they would support something.</p>
    <p>With that in mind, we used prototypes to see if there were any blindspots that we hadn’t considered. At the same time, our goal was to get the product up and running as fast as possible so that we could collect real, actionable data.</p>
    <p>This is an early prototype we used to guide discussions.</p>
  </div>

  <div class="image-full__wrapper image-full--foundation-funds" data-aos="fade-up">
    <a href="https://invis.io/JGTEKSBWZAE#/241572277_Foundation_Funds_-_02" target="_blank"><img src="../images/cs-foundation-fund/prototype-01.jpg" alt="Product design prototype of Foundation Funds" class="image-full__img"></a>
  </div>

  <div class="case-study__content-wrapper--md" data-aos="fade-up">
    <p>Something we learned was that the knowledge and emotion that the Fund Managers shared when speaking with our team was difficult to replicate. We thought it could be interesting to test having a video or recording on each Fund with the expert. This could be an engaging way to tell the story behind a Fund. This idea was saved for a later round of testing.</p>

    <h3>Development</h3>
    <p>I partnered with one developer who led the technical implementation. Because the full team was involved in earlier stages, when it came to implementation we could hit the ground running. I worked directly with them to break the work into the various scopes, break features into smaller chunks, QA work during implementation, and help with the front-end.</p>
    <p>When work was deployed, I could pull the latest and push updates directly. For example, if a UI component needed work or copy needed wordsmithing I would do that in code. No frustrated designer who doesn’t feel in control of the final product and no frustrated developer digging through pixel specs.</p>

    <h3>Shipping</h3>
    <p>With this project we were seeing if people would shift their giving behavior.  “I know you weren’t planning to give here, but once you see the impact you can make we think you’ll be interested.” We saw that there was an interest (85% of donors say they care about nonprofit performance). And we knew that best knowledge of where to give and how to give was held in Foundations or cause area experts. So, what happened?</p>
    <p>To test this project, we launched six Foundation Funds. Each Fund was given a goal and there were a mix of causes - some Funds were focused on specific locations (Fight Poverty in the Bay Area) and others were focused on broader issue areas (Mitigate global climate change).</p>
    <p>We saw Funds with broader focus areas reach their goals. For example Mitigate Climate Change’s initial goal of $25,000 was surpassed in the first few months and received over $50,000.</p>
    <p>Location specific Funds received less support, likely due to the narrower set of potential donors.</p>
    <p class="p--large">That several thousand people responded positively enough to donate was a leading light. At the same time, we learned several things that would shape future projects.</p>
    <p>Location specific Funds had the potential of gaining strong support from people in the area. Our challenge was awareness. We needed to develop ways to connect with people in these locations so that they would be aware of this way to give. Our user base was spread around the U.S. and around the world, which is why we found more support towards boarder cause areas.</p>
    <p>This project helped people give by letting them lean on others’ expertise. It reduced the burden of ‘where do I give?’. However, it didn’t address getting people in the door in the first place. This was a core focus for several future projects – and our largest learning. We could make it easier for people to give effectively, but they need to decide to give in the first place.</p>
  </div>
</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<%- include("../partials/footer.ejs"); %>
