<%- include("partials/header.ejs"); %>
<%- include("partials/main-nav.ejs"); %>


<div class="experience__body">
  <section class="grid experience__header">
    <div class="grid--centered-sm">
      <p class="experience__resume-title">Resume</p>
      <h2>Chris Chappelle</h2>
      <h2 class="experience__role-title">Product Designer</h2>

      <p>Hey, nice to meet you – I’m Chris. I love helping teams get from “what if,” “why,” and “how might we” into tested, built, and launched products.</p>
      <p>I’m passionate about designing products that solve <em>real</em> problems and also hit business goals. If your team has an inkling, a hunch, or is wondering what’s next, I move the project forward by putting form around it. I do this by working across the product design stack from project scoping and ideation,  experience design, UI design,  prototyping, and design implementation. Of course, I don’t do this alone. I collaborate across teams to find the best ideas and move them forward.</p>
      <p>I am a motivated, driven, and professional product designer that knows how to get things done.</p>
    </div>
  </section>

  <section class="grid experience__section">
    <div class="grid--centered-sm">
      <h2>Experience</h2>

      <div class="role">
        <h3 class="role__company">Bright Funds</h3>
        <p class="role__title">Founding Team, Lead Product Designer</p>
        <p class="role__date">June 2013-present</p>
        <p>I lead product design for all new and existing product initiatives. I joined an original team of three to lead design at Bright Funds, a for-profit for-good company. During my time there, the company grew from an idea to a product used by companies ranging in size from startups to Fortune 500s (Box, GitHub, VMware, Cisco, Williams-Sonoma).</p>
        <p>Here are some of the projects I worked on:</p>
        <ul>
          <li>
            <h4>Overall product style guide</h4>
            <p>I designed the overall product style guide. This included color usage, typography, buttons, form inputs, navigation bars, banners, tables, among other components. I partnered with a front-end engineer to translate the components into production ready code and built a component library that could be accessed across the team. </p>
            <p><span class="bold">Results: </span>Faster product development time, engineers could comfortably prototype up ideas without re-inventing UI components, consistency across views</p>
          </li>
          <li>
            <h4>Foundation Funds</h4>
            <p>I lead design of a new key product offering – Foundation Funds. The goal was to reduce common barriers we saw people hitting when giving while also increasing their individual impact.  I lead UI design, held user interviews, helped frame the goal and scope of the project, and organized the team around the scope of work.</p>
            <p><span class="bold">Results: </span>Foundation Funds became a key product differentiator, in the testing phase Funds surpassed the initial donation goal (each Fund collecting $20,000 or more from small individual donors).</p>
            <p><a class="link-underline" href="/foundation-funds" target="_blank">Read more about this project</a></p>
          </li>
          <li>
            <h4>User engagement and awareness</h4>
            <p>I developed an approach to gather insights from within the team, decide on projects, and quickly iterate on features that would increase user value, engagement, and awareness.</p>
            <p><span class="bold">Results: </span>Donation growth of roughly 10% when compared to previous year, become an internal framework to decide on and iterate through ideas.</p>
            <p><a class="link-underline" href="/increasing-awareness-and-engagement" target="_blank">Read more about this project</a></p>
          </li>
          <li>
            <h4>Volunteer events</h4>
            <p>I lead a major redesign of the volunteer product to handle increased usage we were seeing as companies placed more importance on their volunteer initiatives.</p>
            <p><span class="bold">Results: </span>Several companies that were previously using an outside partner switched to Bright Funds to run their volunteer events, streamlined user flows (finding events, tracking volunteer time, getting others involved), greatly reduced support inquiries.</p>
          </li>
          <li>
            <h4>Grants Management</h4>
            <p>Designed a Grants Management product MVP to test market impact. We heard from companies wanting an all-in-one product to handle employee programs in addition to their corporate grants. My role included evaluating the current market, developing an overall product strategy, designing prototypes for testing, and overseeing development.</p>
            <p><span class="bold">Results: </span>Validated hunch by signing client specifically due to this new product.</p>
          </li>
        </ul>
      </div>

      <div class="role">
        <h3 class="role__company">Hattery Labs</h3>
        <p class="role__title">Designer</p>
        <p class="role__date">August 2012-July 2013</p>
        <p>As a designer at Hattery Labs, I worked on client projects ranging from healthcare, education, and nonprofits. I developed a new process to work directly with engineers from the start of a project - previously developers were pulled in after design phases were complete. Applied agile design and development techniques to work fast, learn fast, and build fast.</p>
        <p>Here are some of the projects I worked on:</p>
        <ul>
          <li>E-learning: A project with one of the largest education groups in the U.S. to understand how we could help students succeed in online education. My role included user research, product ideation and concepting, and UI design.</li>
          <li>Healthcare and genetics: Humanizing the process of ordering genetic tests and understanding the results. My role included user research and UI design.</li>
          <li>Nonprofit: In partnership with a large WASH (water, sanitation, and hygiene) nonprofit I worked on a product that helped organizations plan and budget new projects. My role included brand design, marketing site design, UI and style guide design.</li>
        </ul>
      </div>

      <div class="role">
        <h3 class="role__company">Silverlign group</h3>
        <p class="role__title">Freelance Designer</p>
        <p class="role__date">Sep 2012–Oct 2012</p>
        <p>Freelance designer at Silverlign Group, Inc., a strategy and design agency. Assisted in web layouts for Levi Strauss & Company.</p>
      </div>

    </div>
  </section>
</div>

<%- include("partials/footer.ejs"); %>
