<%- include("partials/header.ejs"); %>

<header class="header">
  <div class="header__background-grid-wrapper">
    <div class="header__background-grid" id="header__background-grid"></div>
  </div>

  <div class="background-slide"></div>

  <%- include("partials/main-nav.ejs"); %>

  <div class="header__text-box">
    <h1 class="heading--primary"  id="js__heading--primary">
      <span class="text-animate-wrapper">
          Hey,
      </span>

      <span class="text-animate-wrapper--group-two">
        <span class="text-animate-wrapper">
            Nice to
        </span>

        <span class="text-animate-wrapper">
            meet
        </span>

        <span class="text-animate-wrapper">
            you.
        </span>

      </span>

    </h1>
  </div>

  <div class="header__personal-photo-box">
    <img src="images/me-yellow.png" class="header__personal-photo" alt="Chris Chappelle - Product Designer">
  </div>

  <div class="triangle"></div>

</header>
<!-- End header -->

<main class="content">
  <div class="about" id="about">
    <article class="about__bio" data-aos="fade-up">
      <h2 class="bio__header">
        Chris Chappelle here – I’m a product designer helping teams get from “what if,” “why,” and “how might we” into tested, built, and launched products.
      </h2>
      <p>
        When our team has an inkling, a hunch, or is wondering what’s next, I take that idea and put form around it. That can span from scoping out the thing in writing, designing the UI and building prototypes, working with engineers through implementation, and helping with front end development.
     </p>
     <p>
       I particularly enjoy seeing a blurry hunch take form. From there we can see what people think, make it better, or put it to bed.
     </p>
      <p>
        For the past 5 years at Bright Funds, I’ve designed features that  help tens of thousands of people give millions of dollars to nonprofits every year. Our product now powers giving and volunteer programs at companies of all sizes.
      </p>
    </article>

    <article class="about__contact">
      <div class="about__contact__item" data-aos="fade-up">
        <p>Linkedin</p>
        <a href="https://www.linkedin.com/in/clchappelle/" class="link-underline" target="_blank">clchappelle</a>
      </div>

      <div class="about__contact__item" data-aos="fade-up">
        <p>email</p>
        <a href="mailto:clchappelle@gmail.com?Subject=Hey%20Chris" class="link-underline">clchappelle@gmail.com</a>
      </div>
      <div class="about__contact__item" data-aos="fade-up">
        <p>I help teams with:</p>
        <ul>
          <li>Project scoping and ideation</li>
          <li>Experience design</li>
          <li>UI design</li>
          <li>Prototyping</li>
          <li>Design implementation</li>
        </ul>
      </div>
    </article>
  </div>

  <div class="case-studies" id="case-studies">
    <div class="case-study-preview case-study-preview--1"  data-aos="fade-up">
        <div class="case-study-preview__content">
          <h4 class="case-study-preview__company">Bright Funds</h4>
          <h3 class="case-study-preview__title">Redesigning a key feature to help people give more effectively</h3>
          <div class="case-study-preview__role">Lead Designer / Team of 3</div>
          <a href="foundation-funds" class="btn btn--black">View project</a>
          <img src="../images/home/case-study_foundation-funds.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
        </div>
    </div>

    <div class="case-study-preview case-study-preview--2"  data-aos="fade-up">
        <div class="case-study-preview__content">
          <h4 class="case-study-preview__company">Bright Funds</h4>
          <h3 class="case-study-preview__title">How can we increased awareness of a company benefit</h3>
          <div class="case-study-preview__role">Lead Designer / Team of 2</div>
          <a href="increasing-awareness-and-engagement" class="btn btn--black">View project</a>
          <img src="../images/cs-engagement/header-image-01.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Foundation Fund Product Design Case Study">
        </div>
    </div>

  </div>
</main>


<div class="home-footer">
  <%- include("partials/footer.ejs"); %>
</div>
