<%- include("partials/header.ejs"); %>

<header class="header">
  <div class="header__background-grid-wrapper">
    <div class="header__background-grid" id="header__background-grid"></div>
  </div>

  <div class="background-slide"></div>

  <%- include("partials/main-nav.ejs"); %>

  <div class="header__text-box">
    <h1 class="heading--primary"  id="js__heading--primary">
      <span class="text-animate-wrapper">
          Hey,
      </span>

      <span class="text-animate-wrapper--group-two">
        <span class="text-animate-wrapper">
            Nice to
        </span>

        <span class="text-animate-wrapper">
            meet
        </span>

        <span class="text-animate-wrapper">
            you.
        </span>

      </span>

    </h1>
  </div>

  <div class="header__personal-photo-box">
    <img src="images/me-header.png" class="header__personal-photo" alt="Chris Chappelle - Product Designer">
  </div>

  <div class="triangle"></div>

</header>
<!-- End header -->

<main class="content">
  <div class="about grid" id="about">
    <article class="about__bio" data-aos="fade-up">
      <h2 class="bio__header">
        Chris Chappelle is a product designer who loves helping teams get from “what if” to tested, built, and launched products.
      </h2>
      <p>
        When our team has a hunch or is wondering what’s next, I take that idea and put form around it. That spans from scoping out the thing in writing, designing the UI and building prototypes, and working with engineers through implementation. I've also been known to jump in to help with front-end development.
     </p>
      <p>
        For the past 5 years at Bright Funds, I’ve designed features that  help tens of thousands of people give millions of dollars to nonprofits every year. Our product now powers giving and volunteer programs at companies ranging from Fortune 500s to startups.
      </p>
    </article>

    <article class="about__contact">

      <div class="about__contact__item" data-aos="fade-up">
        <p>email</p>
        <a href="mailto:clchappelle@gmail.com?Subject=Hey%20Chris" class="link-underline">clchappelle@gmail.com</a>
      </div>

      <div class="about__contact__item" data-aos="fade-up">
        <p>Linkedin</p>
        <a href="https://www.linkedin.com/in/clchappelle/" class="link-underline" target="_blank">clchappelle</a>
      </div>
    </article>
  </div>

  <div class="about__skills grid"  data-aos="fade-up">
    <p class="grid--centered">As a product designer, I work through
      <span class="about__skills-span"><img src="../images/home/icon-scoping.png" class="about__skills-icon" alt="Project scoping and ideation"> project scoping and ideation, </span>
      <span class="about__skills-span"><img src="../images/home/icon-experience-design.png" class="about__skills-icon" alt="Experience design icon"> experience design,</span>
      <span class="about__skills-span"><img src="../images/home/icon-ui-design.png" class="about__skills-icon" alt="UI design"> UI design, </span>
      <span class="about__skills-span"><img src="../images/home/icon-prototyping.png" class="about__skills-icon" alt="Prototyping"> prototyping, and</span>
      <span class="about__skills-span"><img src="../images/home/icon-implementation.png" class="about__skills-icon" alt="Design implementation"> design implementation.</span>
    </p>
  </div>

  <div class="case-studies" id="case-studies">

    <div class="case-study-preview grid case-study-preview__gradient--1"  data-aos="fade-up">
        <div class="case-study-preview__image">
          <img src="../images/home/case-study_foundation-funds.jpg" class="case-study-preview__img" alt="Foundation Fund Product Design Case Study">
        </div>
        <div class="case-study-preview__content">
          <h4 class="case-study-preview__count">Case study 1 of 2</h4>
          <h3 class="case-study-preview__title">Foundation Funds</h3>
          <p class="case-study-preview__description">Helping people make smart decisions with their giving.</p>
          <div class="case-study-preview__role">Focus: <span class="definition-badge">New product offering</span></div>
          <a href="foundation-funds" class="btn btn--black">View project</a>
        </div>
    </div>

    <div class="case-study-preview grid case-study-preview__gradient--2"  data-aos="fade-up">
      <div class="case-study-preview__content">
        <h4 class="case-study-preview__count">Case study 2 of 2</h4>
        <h3 class="case-study-preview__title">Awareness and Engagement</h3>
        <p class="case-study-preview__description">Spreading awareness and increasing engagement  of workplace giving and volunteering benefits.</p>
        <div class="case-study-preview__role">Focus: <span class="definition-badge">Engagement</span></div>
        <a href="increasing-awareness-and-engagement" class="btn btn--black">View project</a>
      </div>
      <div class="case-study-preview__image">
        <img src="../images/cs-engagement/header-image-02.png" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Foundation Fund Product Design Case Study">
      </div>
    </div>

  </div>
</main>


<div class="home-footer">
  <%- include("partials/footer.ejs"); %>
</div>
