<%- include("partials/header.ejs"); %>

<header class="header">
  <div class="header__background-grid-wrapper">
    <div class="header__background-grid" id="header__background-grid"></div>
  </div>

  <div class="background-slide"></div>

  <!-- Header text -->
  <div class="header__text-box">
    <h2 class="heading--hey">
      <span class="slide-up-wrapper">
        <span class="slide-up-hey">
          Hey,
        </span>
      </span>
    </h2>
    <h2 class="heading--primary heading--primary-dark">
      <span class="slide-up-wrapper">
        <span class="slide-up-content">
          Chris Chappelle here.
        </span>
      </span>
    </h2>
    <h1 class="heading--primary">
      <span class="slide-up-wrapper">
        <span class="slide-up-content">
          I’m a product designer helping teams get from the fuzzy world of “what if,” “why,” and “how might we” into tested and built products.
        </span>
      </span>
    </h1>
  </div>

  <!-- Photos -->
  <div class="header__personal-photo-box__big-blur">
    <img src="images/me_blur_01.png" class="header__personal-photo__big-blur" alt="">
  </div>

  <div class="header__personal-photo-box">
    <img src="images/me.png" class="header__personal-photo" alt="">
  </div>

  <div class="header__personal-photo-box__small-blur">
    <img src="images/me_blur_02.png" class="header__personal-photo__small-blur" alt="">
  </div>

  <a href="#" class="night-mode">Shhh</a>

</header>
<!-- End header -->

<main class="content">
  <article class="post">
    <p>
      I help small but mighty teams get from idea to built product.  I’m a designer, but I don’t just make things look pretty. I develop product ideas, design testable prototypes, scope out work, and can chip in on front end development.     </p>
    <p>
    For the past 5 years, I’ve helped grow Bright Funds to where it is today. Powering giving and volunteering programs at fortune 500 companies and helping tens of thousands of people give millions of dollars to nonprofits.
  </p>
  </article>
</main>



<%- include("partials/footer.ejs"); %>
