<%- include("partials/header.ejs"); %>

<header class="header">
  <div class="header__background-grid-wrapper">
    <div class="header__background-grid" id="header__background-grid"></div>
  </div>

  <div class="background-slide"></div>

  <div class="header__text-box">
    <h1 class="heading--primary"  id="js__heading--primary">
      <span class="text-animate-wrapper">
          Hey,
      </span>

      <span class="text-animate-wrapper--group-two">
        <span class="text-animate-wrapper">
            Nice to
        </span>

        <span class="text-animate-wrapper">
            meet
        </span>

        <span class="text-animate-wrapper">
            you.
        </span>

      </span>

    </h1>
  </div>

  <div class="header__personal-photo-box__big-blur">
    <img src="images/me_blur_01.png" class="header__personal-photo__big-blur" alt="">
  </div>

  <div class="header__personal-photo-box">
    <img src="images/me.png" class="header__personal-photo" alt="">
  </div>

  <div class="header__personal-photo-box__small-blur">
    <img src="images/me_blur_02.png" class="header__personal-photo__small-blur" alt="">
  </div>

  <div class="triangle"></div>

</header>
<!-- End header -->

<main class="content">
  <div class="about">
    <article class="about__bio">
      <h2 class="bio__header">
        Chris Chappelle here – I’m a product designer helping teams get from the fuzzy world of “what if,” “why,” and “how might we” into tested and built products.
      </h2>
      <p>
       I develop product ideas, design testable prototypes, scope out work, and can chip in on front end development.
     </p>
      <p>
      For the past 5 years, I’ve designed features that power giving and volunteer programs at at companies large and small and help tens of thousands of people give millions of dollars to nonprofits.
      </p>
    </article>

    <article class="about__contact">
      <div class="about__contact__item">
        <p>Linkedin</p>
        <a href="https://www.linkedin.com/in/clchappelle/" class="link-underline">clchappelle</a>
      </div>

      <div class="about__contact__item">
        <p>email</p>
        <a href="mailto:clchappelle@gmail.com?Subject=Hey%20Chris" class="link-underline">clchappelle@gmail.com</a>
      </div>
    </article>
  </div>
</main>



<%- include("partials/footer.ejs"); %>
