<%- include("partials/header.ejs"); %>

<%- include("partials/main-nav.ejs"); %>

<header class="header">
  <div class="header__background-grid-wrapper">
    <div class="header__background-grid" id="header__background-grid"></div>
  </div>

  <div class="background-slide"></div>

  <div class="header__text-box">
    <h1 class="heading--primary"  id="js__heading--primary">
      <span class="text-animate-wrapper">
          Hey,
      </span>

      <span class="text-animate-wrapper--group-two">
        <span class="text-animate-wrapper">
            Nice to
        </span>

        <span class="text-animate-wrapper">
            meet
        </span>

        <span class="text-animate-wrapper">
            you.
        </span>

      </span>

    </h1>
  </div>

  <a href="/" class="header__personal-photo-box">
    <img src="images/home/me.svg" class="header__personal-photo" alt="Chris Chappelle - Product Designer">
  </a>

  <div class="triangle"></div>

</header>
<!-- End header -->

<main class="content">
  <div class="about grid" id="about">
    <article class="about__bio" data-aos="fade-up">
      <h2 class="bio__header">
        👋 Chris Chappelle is a purposeful designer that believes in creating products that give people superpowers.
      </h2>
      <p>
        Products that help people be more generous, do things better, finish faster, and accomplish more.
      </p>
      <p>For the past 6 years I've lead product design at Bright Funds. Along the way, I've learned <em>how to take a product from an idea to what's now used by growing startups and established Fortune 500s.</em></p>
    </article>

    <article class="about__contact">

      <div class="about__contact__item" data-aos="fade-up">
        <p>email</p>
        <a href="mailto:clchappelle@gmail.com?Subject=Hey%20Chris" class="link-underline">clchappelle@gmail.com</a>
      </div>

      <div class="about__contact__item" data-aos="fade-up">
        <p>Linkedin</p>
        <a href="https://www.linkedin.com/in/clchappelle/" class="link-underline" target="_blank">clchappelle</a>
      </div>
    </article>
  </div>

  <div class="about__skills grid"  data-aos="fade-up">
    <p class="grid--centered">As a fullstack product designer, I work through
      <span class="about__skills-span"><img src="../images/home/icon-scoping.png" class="about__skills-icon" alt="Project scoping and ideation"> project scoping and ideation, </span>
      <span class="about__skills-span"><img src="../images/home/icon-experience-design.png" class="about__skills-icon" alt="Experience design icon"> experience design,</span>
      <span class="about__skills-span"><img src="../images/home/icon-ui-design.png" class="about__skills-icon" alt="UI design"> UI design, </span>
      <span class="about__skills-span"><img src="../images/home/icon-prototyping.png" class="about__skills-icon" alt="Prototyping"> prototyping, and</span>
      <span class="about__skills-span"><img src="../images/home/icon-implementation.png" class="about__skills-icon" alt="Design implementation"> design implementation.</span>
    </p>
  </div>

  <div class="principles" data-aos="fade-up">
    <h2 class="principles__title">Principles</h2>

    <p class="principles__principle">Levelheadedness. <span class="principles__principle-desc">I believe in making intentional, considered design decisions. I take the time to weigh the forces at play and deliver a high-quality experience that is appropriate for the situation.</span></p>

    <p class="principles__principle">Great ideas come from everyone. <span class="principles__principle-desc">The experience of a product is the sum of all its parts. That means customer support and marketing as much as design and engineering. I collaborate across teams to find challenges and work through solutions.</span></p>

    <p class="principles__principle">Care. <span class="principles__principle-desc">Care enough to go outside of the usual wheelhouse. Care enough to see a project all the way until it's complete. Care enough to pick it up, put it down, and pick it up again.</span></p>

    <p class="principles__principle">We, not me. <span class="principles__principle-desc">I'm here to do great work together. Being generous comes as a natural result. Giving time and attention without expecting something in return makes sense because we're heading for the same goal.</span></p>

  </div>

  <div class="case-studies" id="case-studies">
    <%- include("partials/case-study-preview-list.ejs"); %>
  </div>
</main>


<div class="home-footer">
  <%- include("partials/footer.ejs"); %>
</div>
