:root {
  --color-primary-bg: #fff;
  --color-primary-text: #000;
  --color-white: #fff;
  --color-link-underline: #FDDC4C;
  --color-grid-square: rgba(0,0,0,.05);
  --color-header-bg: #085744; }

[data-theme="dark"] {
  --color-primary-bg: #000;
  --color-primary-text: #a8a48e;
  --color-white: #000;
  --color-link-underline: #0c4a87;
  --color-grid-square: rgba(0,0,0,.3);
  --color-header-bg: #084c57; }

@keyframes grid-blur {
  0% {
    filter: blur(20px); }
  100% {
    filter: blur(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #F7F3F0;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif; }

h1 {
  font-size: 8rem;
  line-height: 1.25; }

h2 {
  font-size: 6rem;
  line-height: 1.25; }

h3 {
  font-size: 3.2rem;
  line-height: 1.5;
  margin: 6rem 0 1rem 0;
  color: var(--color-primary-text); }

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--color-primary-text); }

.p--large {
  font-size: 2.8rem; }

.section-title {
  font-size: 3.2rem;
  line-height: 1.5; }

ol, ul {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem; }

.link-underline:link, .link-underline:visited {
  display: inline-block;
  color: var(--color-primary-text);
  text-decoration: none;
  position: relative;
  transition: all .2s;
  box-shadow: inset 0 -0.1em var(--color-white), inset 0 -0.4em var(--color-link-underline); }

.link-underline:hover {
  box-shadow: inset 0 -0.1em var(--color-white), inset 0 -1.2em var(--color-link-underline); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2px;
  transition: all .2s;
  position: relative;
  font-size: 2rem; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn--black {
  color: #fff;
  background-color: black; }

.btn-theme-switch {
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  padding-left: 2px;
  cursor: pointer;
  outline: none;
  transition: all .3s; }
  .btn-theme-switch:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.case-study-preview {
  padding: 10rem 0 10rem 0; }
  .case-study-preview--1 {
    background-image: linear-gradient(to right bottom, #837A7D, #BEB7B3); }
  .case-study-preview__content {
    max-width: 100rem;
    margin: 0 auto; }
  .case-study-preview__company {
    font-size: 4rem;
    color: black;
    font-weight: 600; }
  .case-study-preview__title {
    font-size: 4rem;
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 3.3rem; }
  .case-study-preview__role {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    margin-bottom: 6rem; }
  .case-study-preview__img {
    width: 100%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
    margin-top: 6rem; }

.site-navigation {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: flex-start;
  padding: 3rem; }
  .site-navigation a:link,
  .site-navigation a:visited {
    color: white;
    margin: 0 1rem;
    transition: all .2s;
    text-decoration: none; }
  .site-navigation a:hover,
  .site-navigation a:active {
    box-shadow: inset 0 -0.4em rgba(0, 0, 0, 0.5); }

.site-navigation__name {
  margin-right: 1rem;
  opacity: .2; }

/* Header */
.header {
  height: 95vh;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  background: #FBF0E3; }

/* Grid in header bg */
.header__background-grid-wrapper {
  height: 95vh;
  position: relative; }

.header__background-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: grid-blur .8s ease-in-out; }

.header__background-grid-square {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-grid-square);
  transition: color 1s, background-color 1s; }

/* Header photo */
.header__personal-photo-box {
  position: absolute;
  top: 0rem;
  left: 0rem; }

.header__personal-photo {
  width: 25rem; }

.background-slide {
  background-color: var(--color-header-bg);
  width: 100vw;
  height: 95vh;
  position: absolute;
  right: 0;
  top: 0;
  transition: color 1s, background-color 1s; }

/* Header titles */
.header__text-box {
  width: 90%;
  position: absolute;
  top: 18rem;
  left: 22rem; }

.heading--primary {
  font-size: 18rem;
  font-weight: 800;
  color: #000; }

.text-animate-wrapper {
  display: block;
  margin-top: -11rem; }

.letter-wrapper {
  display: inline-block;
  overflow: hidden;
  line-height: 1.2;
  margin-top: -12rem; }

.letter {
  display: inline-block; }

.text-animate-wrapper--group-two {
  margin-top: 8rem;
  position: absolute;
  right: 20%; }

.triangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 60px solid var(--color-white);
  position: absolute;
  left: calc(10vw - 40px);
  bottom: 10rem; }

@media (max-width: 900px) {
  .heading--primary {
    font-size: 15rem; }
  .text-animate-wrapper {
    margin-top: -8rem; } }

@media (max-width: 768px) {
  .header__personal-photo {
    width: 20rem; }
  .header__text-box {
    top: 30rem;
    margin: 0 30px;
    left: 0;
    width: 100%; }
  .background-slide {
    width: 110vw; }
  .heading--primary {
    font-size: 12rem; }
  .text-animate-wrapper {
    margin-top: -6rem; }
  .heading--shift-right {
    left: 0; }
  .triangle {
    left: calc(80vw - 40px); } }

@media (max-width: 530px) {
  .site-navigation {
    display: none; }
  .header__text-box {
    top: 26rem; }
  .heading--primary {
    font-size: 8rem; }
  .text-animate-wrapper {
    margin-top: -4rem; }
  .text-animate-wrapper--group-two {
    left: 0;
    margin-top: 4rem; } }

@media (max-width: 375px) {
  .header__personal-photo {
    width: 14rem; }
  .header__text-box {
    top: 23rem; }
  .triangle {
    bottom: 3rem; } }

@media (max-width: 320px) {
  .header__text-box {
    padding: 0 30px; } }

/* Main content */
.content {
  position: absolute;
  width: 100%;
  background: var(--color-primary-bg);
  top: 95vh;
  transition: color 1s, background-color 1s; }

.about {
  display: table;
  clear: both;
  content: '';
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 10rem;
  color: var(--color-primary-text);
  transition: color 1s, background-color 1s; }

.about__bio {
  width: 65%;
  float: right; }

.bio__header {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem; }

.about__contact {
  float: left;
  font-size: 2rem; }

.about__contact__item {
  margin-bottom: 2rem; }

.about__contact__item p {
  margin-bottom: 0; }

@media (max-width: 768px) {
  .about__bio {
    width: 100%; }
  .about__contact {
    width: 100%; } }

.post {
  max-width: 80rem;
  margin: 0 auto; }

.post__title {
  margin-bottom: 1rem; }

.case-studies {
  margin-top: 6rem; }

.case-study__header--1 {
  background-image: linear-gradient(to right bottom, #837A7D, #BEB7B3); }

.case-study__header-content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 0 10rem 0; }

.case-study__company {
  font-size: 4rem;
  color: black;
  font-weight: 600; }

.case-study__title {
  font-size: 4rem;
  line-height: 1.4;
  color: #fff;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 3.3rem; }

.case-study__role {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-bottom: 6rem; }

.case-study__body {
  padding: 6rem 0 10rem 0;
  background-color: var(--color-primary-bg); }

.case-study__content-wrapper--md {
  max-width: 80rem;
  margin: 0 auto; }

.case-study__content-wrapper--full {
  width: 100%; }

.case-study__image {
  width: 100%; }
