*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: 'Noticia Text', serif; */
  font-family: 'Work Sans', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  background-color: #F7F3F0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

h1 {
  font-size: 8rem;
  line-height: 1.25;
}

h2 {
  font-size: 6rem;
  line-height: 1.25;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

/* Header */
.header {
  height: 90vh;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.header::after {
  content: "";
  clear: both;
  display: table;
}

/* Grid in header bg */

.header__background-grid-wrapper {
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  position: absolute;
}

.header__background-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: grid-blur .8s ease-in-out;
}

.header__background-grid-square {
  position: relative;
  width: 4rem;
  height: 4rem;
  margin: 0rem;
  background-color: rgba(0,0,0,.05);
}

@keyframes grid-blur {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}

/* Header photo and titles */

.header__personal-photo-box {
  position: absolute;
  top: 7rem;
  left: 4rem;
}

.header__personal-photo {
  width: 20rem;
  /* animation: photo-blur 1s infinite alternate ease-in-out; */
  /* backface-visibility: hidden; */
}

.header__personal-photo-box__big-blur {
  position: absolute;
  top: 4rem;
  left: 3rem;
}

.header__personal-photo__big-blur {
  width: 24.2rem;
}

.header__personal-photo-box__small-blur {
  position: absolute;
  top: 14rem;
  left: 18rem;
}

.header__personal-photo__small-blur {
  width: 10rem;
}

.background-slide {
  background-color: #2536EA;
  width: 100vw;
  height: 95vh;
  position: absolute;
  right: 0;
}

.header__text-box {
  width: 50%;
  position: relative;
  top: 4rem;
  left: 22rem;
}

.heading--primary {
  font-size: 4rem;
  font-weight: 800;
  color: #FBF0E3;
}

.heading--sub {
  opacity: .5;
  color: #000;
  margin:-1rem 0 0 0;
}

.heading--hey {
  font-size: 20rem;
  font-weight: 800;
  line-height: 1.5;
  color: #FBF0E3;
}


.slide-up-wrapper, .slide-up-content, .slide-up-hey, .slide-down-content {
  display: block;
}

.slide-up-wrapper {
  overflow: hidden;
}


/* Night mode link */

.night-mode:link,
.night-mode:visited{
  color: rgba(255,255,255,.7);
  text-decoration: none;
  font-size: 1.4em;
  padding: 8px 12px;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  transition: color .4s;
}

.night-mode:hover {
  color: rgba(255,255,255,.9);
}


/* Main content */

.content {
  position: relative;
  background: white;
  top: 90vh;
  padding: 10rem 0;
}

.post {
  max-width: 80rem;
  margin: 0 auto;
}

.post__title {
  margin-bottom: 1rem;
}

@media (max-width : 1300px) {
  .header__text-box {
    width: 70%;
  }
  /* .heading--primary {
    font-size: 4.5rem;
  } */
}

@media (max-width : 768px) {
  .header {
    height: 75vh;
  }
  .header__text-box {
    top: 14rem;
    margin: 0 auto;
    left: 0;
    width: 100%;
    padding: 0 30px;
  }
  .background-slide {
    width: 110vw;
  }
  .heading--sub {
    font-size: 2rem;
  }
  .heading--primary {
    font-size: 3rem;
  }
  .heading--hey {
    font-size: 13rem;
  }
  .content {
    top: 75vh;
  }
}

@media (max-width : 320px) {
  .header__text-box {
    padding: 0 30px;
  }
}
