.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2px;
    transition: all .2s;
    position: relative;
    font-size: $font-size-default;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
  }

  &--black {
    color: #fff;
    background-color: black;
  }

}

.btn-theme-switch {
  border: none;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  padding-left: 2px;
  cursor: pointer;
  outline: none;
  transition: all .3s;
  border: 0px solid var(--color-header-bg);
  transition: all .3s;

  &:hover {
    box-shadow: none;
    border: 3px solid var(--color-header-bg);
  }
}
