.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 2px;
    transition: all .2s;
    position: relative;
    font-size: $font-size-default;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
  }

  &--black {
    color: #fff;
    background-color: black;
  }

}
