.case-study-preview {
  padding: 10rem 1rem;

  &__gradient {
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-cs1-1, .1), rgba($color-cs1-2, .1));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-cs2-1, .1), rgba($color-cs2-2, .1));
    }
  }

  &__image {
    grid-column: span 6;
    padding: 3rem;
    align-self: center;

    @media only screen and (max-width : 860px) {
      grid-column: span 12;
    }
  }

  &__content {
    grid-column: span 6;
    padding: 0 5rem;
    align-self: center;

    @media only screen and (max-width : 860px) {
      grid-column: span 12;
      grid-row: 1;
      padding: 0 3rem;
    }
  }

  &__count {
    font-size: 1.8rem;
    color: var(--color-primary-text);
    letter-spacing: 1px;
    font-weight: 300;
    margin-top: 0;
  }

  &__title {
    font-size: 4.6rem;
    line-height: 1.4;
    color: var(--color-primary-text);
    font-weight: 600;
    margin-top: 1rem;
  }

  &__description {
    margin-bottom: 5rem;
    width: 80%;
  }

  &__role {
    font-size: 2rem;
    color: var(--color-primary-text);
    margin-bottom: 6rem;
  }

  &__img {
    width: 100%;

    &--no-shadow {
      box-shadow: none;
    }
  }

  @media only screen and (max-width : 860px) {
    padding: 8rem 1rem;
  }
}
