.site-navigation {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 100rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  background-color: var(--color-white);
  opacity: 0;
  transition: $theme-transition;

  a:link,
  a:visited {
    color: var(--color-primary-text);
    margin: 0 1rem;
    transition: all .2s;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--color-primary-text);
    box-shadow:
      inset 0 -0.4em var(--color-link-underline);
  }

  &--hide-mobile {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

}

.site-navigation__name {
  margin-right: 1rem;
}
