body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-size: 8rem;
  line-height: 1.25;
}

h2 {
  font-size: 6rem;
  line-height: 1.25;
  color: var(--color-primary-text);
}

h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 4rem 0 1rem 0;
  color: var(--color-primary-text);
  @media only screen and (max-width: 375px) {
    margin-top: 2rem;
  }
}

h4 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin: 3rem 0 1rem 0;
  color: var(--color-primary-text);
}

h5 {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-primary-text);
  opacity: .5;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--color-primary-text);
}

blockquote {
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: center;
  margin: 5rem -5rem;
  color: var(--color-primary-text);

  @media only screen and (max-width : 600px) {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

.p--large {
  font-size: 2.8rem;
}

.section-title {
  font-size: 3.2rem;
  line-height: 1.5;
}

ol, ul {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: var(--color-primary-text);
}

li {
  padding-bottom: 1rem;

  h4 {
    margin-bottom: 0;
  }
}



.link-underline {
  &:link,
  &:visited {
  display: inline-block;
  color: var(--color-primary-text);
  text-decoration: none;
  position: relative;
  transition: all .2s;
  box-shadow:
    inset 0 -0.1em var(--color-white),
    inset 0 -0.4em var(--color-link-underline);
  }

  &:hover {
    box-shadow:
      inset 0 -0.1em var(--color-white),
      inset 0 -1.2em var(--color-link-underline);
  }
}
