body {
  font-family: 'Work Sans', sans-serif;
}


h1, h2, h3, h4, h5 {
  color: #000;
}

h1 {
  font-size: 8rem;
  line-height: 1.25;
}

h2 {
  font-size: 6rem;
  line-height: 1.25;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}



.link-underline {
  &:link,
  &:visited {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: all .2s;
  box-shadow:
    inset 0 -0.1em white,
    inset 0 -0.4em #FDDC4C;
  }

  &:hover {
    box-shadow:
      inset 0 -0.1em white,
      inset 0 -1.2em #FDDC4C;
  }
}
