.case-study {

  &__header {
    background-color: var(--color-primary-bg);
  }

  &__header-bg {
    position: absolute;
    width: 100%;
    height: 54rem;
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-cs1-1, .2), rgba($color-cs1-2, .2));
    }
    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-cs2-1, .2), rgba($color-cs2-2, .2));
    }
  }

  &__header-content {
    padding: 10rem 3rem 3rem 3rem;
    z-index: 999;

    video {
      border: 15px solid black;
      border-radius: 10px;
      box-shadow: $box-shadow-cs-img;
    }
  }

  &__details {
    grid-column: 2 / span 10;
    grid-gap: 6rem;
    padding: 3rem 0;

    li {
      padding-bottom: 0;
    }

    @media only screen and(max-width: 530px) {
      grid-gap: 0;
    }

  }

  &__details-section {
    grid-column: span 4;

    @media only screen and(max-width: 530px) {
      grid-column: span 12;
    }
  }

  &__details-description {
    opacity: .5;
  }

  &__company {
    font-size: 4rem;
    color: var(--color-primary-text);
    font-weight: 600;
  }

  &__title {
    font-size: 4rem;
    line-height: 1.4;
    color: var(--color-primary-text);
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 3.3rem;
  }

  &__role {
    font-size: 2rem;
    color: var(--color-primary-text);
    font-weight: 600;
    margin-bottom: 6rem;
  }

  &__body {
    background-color: var(--color-primary-bg);
    transition: $theme-transition;

    // section {
    //   padding: 10rem 0;
    // }
    section:nth-of-type(odd) {
      background-color: var(--color-cs-alternate-bg);
    }
  }

  &__content-wrapper--md {
    padding: 10rem 0;
    @media only screen and (max-width : 530px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media only screen and (max-width: 375px) {
      padding: 5rem 3rem;
    }
  }

  &__introducing {
    align-items: center;
    padding: 10rem 0;
  }

  &__introducing-text {
    grid-column: 3 / span 4;
    @media only screen and(max-width: 920px) {
      grid-column: 3 / span 8;
      margin-bottom: 6rem;
    }

    @media only screen and(max-width: 530px) {
      grid-column: 1 / span 12;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__introducing-title {

  }

  &__introducing-description {
    margin-top: 3rem;;
  }
  &__introducing-image {
    grid-column: span 4;
    img {
      width: 282px;
      float: right;
      @media only screen and(max-width: 920px) {
        float: left;
      }
    }

    @media only screen and(max-width: 920px) {
      grid-column: 3 / span 8;
    }
  }

  &__problem-section {
    background-color: var(--color-header-bg) !important;
  }

  &__problems {
    grid-column: 2 / span 10;
    grid-gap: 3rem;
    padding-bottom: 6rem;
  }

  &__problem {
    grid-column: span 4;
    background-color: var(--color-primary-bg);
    box-shadow: $box-shadow-cs-img;
    padding: 3rem;

    @media only screen and(max-width: 530px) {
      grid-column: 1 / span 12;
    }
  }

  &__problem-title {
    opacity: .5;
  }

  &__image {
    width: 100%;
    margin: 2rem 0;
    border-radius: 3px;
  }

  &__footer {
    background-color: var(--color-white);
    text-align: center;
    padding: 10rem 3rem;
  }

  &__footer-title {
    color: var(--color-primary-text);
    margin-bottom: 6rem;
  }

  &__read-more {
    background-color: var(--color-primary-bg);
  }


}

.definition-badge {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 3px 10px;
  background-color: rgba(0,0,0,.1);
  border-radius: 2px;
}
