.case-study {

  &__header {
    &--1 {
      background-image: linear-gradient(to right bottom, $color-cs1-1, $color-cs1-2);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, $color-cs2-1, $color-cs2-2);
    }
  }

  &__header-content {
    padding: 10rem 3rem 10rem 3rem;
  }

  &__company {
    font-size: 4rem;
    color: black;
    font-weight: 600;
  }

  &__title {
    font-size: 4rem;
    line-height: 1.4;
    color: $color-white;
    font-weight: 400;
    margin-top: 3rem;
    margin-bottom: 3.3rem;
  }

  &__role {
    font-size: 2rem;
    color: black;
    font-weight: 600;
    margin-bottom: 6rem;
  }

  &__body {
    padding: 6rem 0 10rem 0;
    background-color: var(--color-primary-bg);
    transition: $theme-transition;
  }

  &__content-wrapper--md {
    @media only screen and (max-width : 530px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__image {
    width: 100%;
    margin: 2rem 0;
    border-radius: 3px;
  }

  &__footer {
    text-align: center;
    padding: 10rem 3rem;
  }

  &__footer-title {
    margin-bottom: 6rem;
  }

}

.definition-badge {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 3px 10px;
  background-color: rgba(0,0,0,.1);
  border-radius: 2px;
}
