.site-navigation {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 100rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  background-color: var(--color-white);
  opacity: 0;
  transition: $theme-transition;

  a:link,
  a:visited {
    color: var(--color-primary-text);
    margin: 0 1rem;
    transition: all .2s;
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--color-primary-text);
    box-shadow:
      inset 0 -0.4em var(--color-link-underline);
  }

  &--hide-mobile {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

}

.site-navigation__name {
  margin-right: 1rem;
}

/* Header */
.header {
  height: 95vh;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
  background: #FBF0E3;
}

/* Grid in header bg */

.header__background-grid-wrapper {
  height: 95vh;
  position: relative;
}

.header__background-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  animation: grid-blur .8s ease-in-out;
}

.header__background-grid-square {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-grid-square);
  transition: $theme-transition;
}

/* Header photo */

.header__personal-photo-box {
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.header__personal-photo {
  width: 25rem;
  border-right: 10px solid #EEE4D8;
  border-bottom: 10px solid #EEE4D8;
}

.background-slide {
  background-color: var(--color-header-bg);
  width: 100vw;
  height: 95vh;
  position: absolute;
  right: 0;
  top:0;
  transition: $theme-transition;
}

/* Header titles */

.header__text-box {
  width: 90%;
  position: absolute;
  top: 18rem;
  left: 22rem;
}

.heading--primary {
  font-size: 18rem;
  font-weight: 800;
  color: #000;
}


.text-animate-wrapper {
  display: block;
  margin-top: -11rem;
}

.letter-wrapper {
  display: inline-block;
  overflow: hidden;
  line-height: 1.2;
  margin-top: -12rem;
}

.letter {
  display: inline-block;
}

.text-animate-wrapper--group-two {
  margin-top: 8rem;
  position: absolute;
  right: 20%;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 60px solid var(--color-white);
  position: absolute;
  left: calc(10vw - 40px);
  bottom: 10rem;
}



@media only screen and (max-width : 900px) {
  .heading--primary {
    font-size: 15rem;
  }
  .text-animate-wrapper {
    margin-top: -8rem;
  }
}

@media only screen and (max-width : 768px) {
  .header__personal-photo {
    width: 20rem;
  }
  .header__text-box {
    top: 30rem;
    margin: 0 30px;
    left: 0;
    width: 100%;
  }
  .background-slide {
    width: 110vw;
  }
  .heading--primary {
    font-size: 12rem;
  }
  .text-animate-wrapper {
    margin-top: -6rem;
  }
  .heading--shift-right {
    left: 0;
  }
  .triangle {
    left: calc(80vw - 40px);
  }
}

@media only screen and (max-width : 530px) {
  .header__text-box {
    top: 26rem;
  }
  .heading--primary {
    font-size: 8rem;
  }
  .text-animate-wrapper {
    margin-top: -4rem;
  }
  .text-animate-wrapper--group-two {
    left: 0;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 375px) {
  .header__personal-photo {
    width: 14rem;
  }

  .header__text-box {
    top: 23rem;
  }

  .triangle {
    bottom: 3rem;
  }
}

@media only screen and (max-width : 320px) {
  .header__text-box {
    padding: 0 30px;
  }
}


/* Main content */

.content {
  position: relative;
  width: 100%;
  background: var(--color-primary-bg);
  top: 95vh;
  transition: $theme-transition;
}

.about {
  display: table;
  clear: both;
  content: '';
  max-width: 100rem;
  margin: 0 auto;
  padding: 10rem 3rem;
  color: var(--color-primary-text);
  transition: $theme-transition;
}

.about__bio {
  width: 65%;
  float: right;
}

.bio__header {
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about__contact {
  float: left;
  font-size: $font-size-default;
}

.about__contact__item {
  margin-bottom: 2rem;
}

.about__contact__item p {
  margin-bottom: 0;
}

@media only screen and (max-width : 860px) {
  .about__bio {
    width: 100%;
  }
  .about__contact {
    width: 100%
  }
}


.post {
  max-width: 80rem;
  margin: 0 auto;
}

.post__title {
  margin-bottom: 1rem;
}

.case-studies {
  padding-bottom: 10rem;
}

.home-footer {
  transform: translateY(95vh);
}
